<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-4 mb-3">
            <div class="card card-create">
                <div class="card-body">
                    <h5 class="fw-bold text-center mb-3">Crear Tipos de Archivo</h5>

                    <div class="usuario mt-4">
                        <input [(ngModel)]="tipoArchivo.tipoArchivo" name="tipoArchivo" type="text"
                            class="input-usuario" placeholder="Nombre Tipo Archivo">
                    </div>
                </div>
                <div class="row text-center mb-3">
                    <div class="col-md-12">
                        <button (click)="saveTipoArchivo()" class="btn btn-save">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-create">
                <div class="card-body">
                    <h5 class="fw-bold text-center">Tipos de Archivos</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless text-center mt-3 mb-5">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th *appArchivos="permisos[1]" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of tiposArchivos;let i = index">
                                    <th>{{ i + 1 }}</th>
                                    <td>{{ t.tipoArchivo }}</td>
                                    <td *appArchivos="permisos[1]">
                                        <button *appArchivos="permisos[1]" (click)="getById(t.idTipoArchivo)"
                                            data-bs-toggle="modal" data-bs-target="#modalEditar"
                                            class="btn btn-sm btn-primary me-2"><i
                                                class="fa-solid fa-pen-to-square"></i></button>

                                        <span *appRolesPerfiles="rolesArray[6]">
                                            <button (click)="deleteTipoArchivo(t.idTipoArchivo)"
                                                class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Tipo De Archivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <div class="usuario mt-4">
                            <input [(ngModel)]="modal.tipoArchivo" name="tipoArchivo" type="text" class="input-usuario"
                                placeholder="Nombre">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="update()" type="button" class="btn btn-primary"
                    style="background-color: #960010; border-color: #960010;">Actualizar</button>
            </div>
        </div>
    </div>
</div>