.card-create {
    background: #dfe2e5;
}

.imagen-portada {
    max-height: 410px;
    border-radius: 5px 5px 0 0;
}

.imagen-portada img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 30%;
}

.subtitulo {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px;
    letter-spacing: 3px;
}

.campos {
    margin-top: 55px;
}

.usuario,
.file {
    border-radius: 25px;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    background: #ecf0f3;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.input-usuario {
    border: none;
    align-items: center;
    text-align: center;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 13px 10px;
    border-bottom: 10px;
}

.file {
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background: #ecf0f3;
}

.form-select {
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.btn-save {
    color: #fff;
    background: #9C1717;
}

.btn-save:hover {
    background: #D60303;
}