<div class="container">
    <header>
        <h1 class="titulo">Permisos Generales</h1>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Rol</th>
                <th>Activar Rol</th>
                <th>Seleccionar Todos los Permisos</th>
            </tr>
        </thead>
        <tbody *ngFor="let r of IterarRol;let i = index;">
            <tr>
                <td>{{ r.rol | uppercase }}</td>

                <td>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Activar Rol</label>
                        <input (click)="activarRol(r.idRole)"  class="form-check-input input" type="checkbox">
                    </div>
                </td>
                <td *ngIf="selectedRole.includes(r.idRole)" >
                    <button class="btn_check" (click)="seleccionarAllRoles( r.idRole)"><input  class="form-check-input input" name="seleccionarTodos"  [id]="'check'+r.idRole"  type="checkbox"></button>
                    <label class="form-check-label"  for="option-all">Seleccionar Todos los Permisos</label>
                </td>
            </tr>

            <tr *ngIf="selectedRole.includes(r.idRole)">
                <td colspan="3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check" *ngFor="let pr of r.permissions">
                                <input class="form-check-input input" type="checkbox" (click)="selecionarPermiso(pr.idPermission, r.idRole)" [checked]="selectedPermisos.includes(pr.idPermission)"
                                >
                                <label  class="form-check-label">{{
                                    pr.permission | uppercase }}</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <button (click)="guardar()" class="btn-guardar">Guardar</button>
</div>