

<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
        <div class="titulo">GMJ Hogar</div>
        <div class="subtitulo">Accidente Laboral</div>

                <div class="row align-items-start">
                    <div class="col-md-6 col-12">
                        <label for="text">Nombre</label>
                        <div class="usuario">
                            <input type="text" class="input-usuario" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="text">Apellido</label>
                        <div class="usuario">
                            <input type="text" class="input-pass" placeholder="Apellido">
                        </div>
                       

                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-6 col-12">
                        <label for="number">Documento</label>
                        <div class="usuario">
                            <input type="number"  class="input-usuario"  placeholder="Documento">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="date">Fecha del accidente:</label>
                        <div class="fecha">
                            <input type="date" class="form-control"  placeholder="Fecha" aria-label="Fecha">
                        </div>
                    </div>
                </div>


                <div class="row align-items-end">
                    <div class="col-md-6 col-12">
                        <label for="select">dia de la semana:</label>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>dia</option>
                                    <option value="1">lunes</option>
                                    <option value="2">martes</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="number">Telefono</label>
                        <div class="usuario">
                            <input type="number" class="input-usuario" placeholder="Telefono">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="select">Nivel de la lesion</label>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Seleccione</option>
                                    <option value="1">Menor</option>
                                    <option value="2">Regular</option>
                                    <option value="3">Seria</option>
                                    <option value="4">Grave</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="select">Lugar del accidente</label>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>seleccionar</option>
                                    <option value="1">Escaleras</option>
                                    <option value="2">Baño</option>
                                    <option value="3">Cocina</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="text">Lesion:</label>
                        <div class="usuario">
                            <input type="text" class="input-usuario" placeholder="Lesion">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="text">Cargo</label>
                        <div class="usuario">
                            <input type="text" class="input-usuario" placeholder="Cargo">
                        </div>
                    </div>
                </div>
                
                <button class="boton">Guardar</button>
</div>


