<<<<<<< HEAD
=======
.size{
    width: 250px;
    
}

.bg{
    background-color: #212121;
}

.bgw{
    background-color: white;
}
.mr30{
    margin-left: 40px;
}

>>>>>>> parent of eaa0644 (commit 27/10/2022)
