<div
  class="offcanvas offcanvas-start size bg"
  tabindex="-1"
  id="offcanvasWithBackdrop"
  aria-labelledby="offcanvasWithBackdropLabel"
>
  <div class="offcanvas-header">
    <i
      class="fas fa-user mr30"
      style="color: white; height: 70px; width: 50px"
    ></i>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      style="background-color: white"
    ></button>
  </div>
  <h2
    style="color: white; font-size: 1.2em; font-weight: bold"
    class="text-center"
  >
    Departamento De Caja
  </h2>
  <hr style="color: white" />
  <ul class="nav flex-column">
    <li class="mb-1">
      <button
        class="btn d-inline-flex align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#getting-started-collapse"
        aria-expanded="false"
      >
        <i class="fas fa-sort-down"></i>&nbsp; Archivos Caja
      </button>

      <div
        class="collapse"
        id="getting-started-collapse"
        data-bs-dismiss="offcanvas"
      >
        <ul class="list-unstyled fw-normal pb-1 small">
          <li>
            <button
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard-caja/tipo-ingreso"
            >
              <i class="fas fa-file-alt"></i>&nbsp; Tipo ingresos
            </button>
          </li>
        </ul>
      </div>

      <div
        class="collapse"
        id="getting-started-collapse"
        data-bs-dismiss="offcanvas"
      >
        <ul class="list-unstyled fw-normal pb-1 small">
          <li>
            <button
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard-caja/tipo-reporte"
            >
              <i class="fas fa-file-alt"></i>&nbsp; Tipo reportes
            </button>
          </li>
        </ul>
      </div>

      <div
        class="collapse"
        id="getting-started-collapse"
        data-bs-dismiss="offcanvas"
      >
        <ul class="list-unstyled fw-normal pb-1 small">
          <li>
            <button
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard-caja/ingresos-diarios"
            >
              <i class="fas fa-file-alt"></i>&nbsp; Ingresos diarios
            </button>
          </li>
        </ul>
      </div>

      <div
        class="collapse"
        id="getting-started-collapse"
        data-bs-dismiss="offcanvas"
      >
        <ul class="list-unstyled fw-normal pb-1 small">
          <li>
            <button
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard-caja/cuadre-diario"
            >
              <i class="fas fa-file-alt"></i>&nbsp; Cuadres diarios
            </button>
          </li>
        </ul>
      </div>

      <div
        class="collapse"
        id="getting-started-collapse"
        data-bs-dismiss="offcanvas"
      >
        <ul class="list-unstyled fw-normal pb-1 small">
          <li>
            <button
              class="nav-link active"
              aria-current="page"
              routerLink="/dashboard-caja/cuadre-mensual"
            >
              <i class="fas fa-file-alt"></i>&nbsp; Cuadres mensuales
            </button>
          </li>
        </ul>
      </div>
    </li>
    <hr style="color: white" />
    <ul class="nav flex-column">
      <li class="nav-item">
        <button (click)="logout()" class="nav-link active" aria-current="page">
          <i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout
        </button>
      </li>
    </ul>
  </ul>
</div>
