.bg-red {
    color: white;
    background-color: #960010;
    border-color: #960010;
}

.bg-red:hover {
    background: #d40000;
    border-color: #d40000;
}

.card-disabled {
    background-color: #e5b7bcf9;
}

.cardFalse {
    left: 220px;
    width: 83%;
    background-color: rgba(239, 239, 239, 0.979);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

.cardTrue {
    left: 50px;
    width: 95%;
    background-color: rgba(239, 239, 239, 0.979);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-body {
    padding: 5px;
}

.form-floating,
.form-control,
.input-group-text {
    font-size: 12px;
}