<!-- INFORMACION PERSONAL -->
<div class="row">
    <div class="col-md-6 mt-4">
        <div class="card mt-3" *ngIf="datosPorConfirmar.includes('CELULAR')">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">Celular</span>
                            <input type="number" class="form-control" value="3023671255" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-start">
                                    <div class="col-md-2 p-0">
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i
                                                class="fa-solid fa-phone-volume fa-sm"></i></button>
                                    </div>
                                    <div class="col-md-2 p-0">
                                        <button class="btn btn-sm btn-success" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i
                                                class="fa-brands fa-whatsapp fa-lg"></i></button>
                                    </div>
                                    <div class="col-md-2 p-0">
                                        <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i class="fa-solid fa-comment"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red"><i class="fa-solid fa-eraser"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-success"
                                            (click)="confirmarDato('CELULAR', 'fa-solid fa-mobile')"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="addMessage">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Observación"></textarea>
                        <label>Observación</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3" *ngIf="datosPorConfirmar.includes('DIRECCION')">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">Dirección</span>
                            <input type="text" class="form-control" value="Diagonal 43 #34-E20" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-start">
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i class="fa-regular fa-envelope"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red visually-hidden"
                                            (click)="confirmarDato('DIRECCION', 'fa-solid fa-location-dot')"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red"><i class="fa-solid fa-eraser"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-success"
                                            (click)="confirmarDato('DIRECCION', 'fa-solid fa-location-dot')"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="addMessage">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Observación"></textarea>
                        <label>Observación</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3" *ngIf="datosPorConfirmar.includes('CORREO')">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">Correo</span>
                            <input type="email" class="form-control" value="hernandez.gomez292020@gmail.com" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-start">
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i
                                                class="fa-solid fa-paper-plane"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i
                                                class="fa-solid fa-envelopes-bulk"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red"><i class="fa-solid fa-eraser"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-success"
                                            (click)="confirmarDato('CORREO', 'fa-solid fa-at')"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="addMessage">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Observación"></textarea>
                        <label>Observación</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3" *ngIf="datosPorConfirmar.includes('REF')">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">Referencias</span>
                            <input type="email" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-start">
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="collapse"
                                            data-bs-target="#addMessage"><i
                                                class="fa-solid fa-phone-volume"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red visually-hidden"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm bg-red"><i class="fa-solid fa-eraser"></i></button>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <button class="btn btn-sm btn-success"
                                            (click)="confirmarDato('REF', 'fa-solid fa-address-book')"><i
                                                class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3" id="addMessage">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Observación"></textarea>
                        <label>Observación</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="card card-disabled mt-3" *ngFor="let d of datosConfirmados">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-sm bg-red"><i class="{{ d.icon }}"></i></button>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group input-group-sm">
                                    <input type="number" class="form-control" value="{{ d.dato }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-start">
                                    <div class="col-md-6 p-0">
                                        <button class="btn btn-sm bg-red" (click)="cancelDato(d)"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalEditar"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start mt-3" *ngIf="datosConfirmados.length >= 1">
            <div class="col-md-12">
                <button class="btn bg-red text-start" data-bs-toggle="modal"
                    data-bs-target="#modalAcuerdo">Gestionar</button>
            </div>
        </div>
    </div>
</div>

<app-btn-panel></app-btn-panel>
<app-modal-acuerdo [datosConfirmados]="datosConfirmados"></app-modal-acuerdo>
<app-modal-edit-dato></app-modal-edit-dato>