

<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
        <div class="titulo">GMJ Hogar</div>
        <div class="subtitulo">Incidente Laboral</div>

                <div class="row align-items-start">
                    <div class="col">
                        <strong><label for="select">Tipo de incidente:</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Grado</option>
                                    <option value="1">Leve</option>
                                    <option value="2">Grave</option>
                                    <option value="3">Morta</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <strong><label for="select">Tipo de vinculacion laboral:</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Empleador</option>
                                    <option value="1">Contatante</option>
                                    <option value="2">Cooperativa</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col">
                        <strong><label for="text">Cargo:</label></strong>
                        <div class="usuario">
                            <input type="text"  class="input-usuario"  placeholder="Cargo">
                        </div>
                    </div>

                    <div class="col">
                        <strong><label for="text">Funcion que ejercia en el momento del incidente:</label></strong>
                        <div class="usuario">
                            <input type="text" class="input-usuario"  placeholder="Ocupacion" aria-label="text">
                        </div>
                    </div>
                </div>


                <div class="row align-items-end">
                    <div class="col">
                        <strong><label for="select">¿Estaba realizando su labor habitual?</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>seleccione</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <strong><label for="select">Tipo de incidente</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>incidente</option>
                                    <option value="1">Violencia</option>
                                    <option value="2">Transito</option>
                                    <option value="3">Deportivo</option>
                                    <option value="4">Recreativo</option>
                                    <option value="5">Propias del trabajo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <strong><label for="select">Lugar exacto donde ocurrió el incidente: </label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Seleccione</option>
                                    <option value="1">Dentro de la empresa</option>
                                    <option value="2">Fuera de la empresa</option>
                                    <option value="3">Otra</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6" >
                        <strong><label for="text">Sitio exacto donde ocurrió el incidente:</label></strong>
                        <div class="usuario">
                            <input type="text" class="input-usuario" placeholder="Lugar">
                        </div>
                    </div>


                    <div class="col">
                        <strong><label for="select">¿Habían ocurrido eventos similares anteriormente?</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Seleccione</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <strong><label for="number">¿Número de personas que presenciaron el incidente?</label></strong>
                        <div class="usuario">
                            <input type="number" class="input-usuario" placeholder="Cantidad">
                        </div>
                    </div>
                </div>


                    <div class="col-md-6">
                        <strong><label for="select">¿Se han presentado otros incidentes anteriores
                            mente en el área de trabajo?</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Seleccione</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                            </select>
                        </div>
                    </div><br>

                
                <button class="boton">Guardar</button>
</div>


