.form-floating .form-control:focus,
.form-floating .form-select:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(184, 39, 36, 0.725);
}

.form-floating .form-control,
.form-floating .form-select,
.form-floating label {
    font-size: 12px;
}