<div class="row">
    <div class="col-md-12">
        <div class="form-floating mt-3">
            <input type="text" class="form-control" placeholder="Dirección"
                [value]="address.departamento + address.ciudad + address.municipio + address.tipoVia + ' ' + address.numero1 + address.letra1 + address.letra2  + ' ' + address.sentido1 + address.numero2 + address.letra3 + address.letra4 + address.sentido2 + address.numero3 + address.barrio"
                readonly>
            <label class="font-s">Dirección</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-floating mt-3">
            <select class="form-select" (change)="getCiudadByDep()" [(ngModel)]="idDep" name="idDep">
                <option value="">Selecione Un Departamento</option>
                <option *ngFor="let d of departamentos" [value]="d.id">{{ d.name
                    }}</option>
            </select>
            <label class="font-s">Departamento</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mt-3">
            <select #depart class="form-select" (change)="changeCiudad($event)" disabled>
                <option value="">Seleccione Una Ciudad</option>
                <option *ngFor="let c of ciudades" [value]="c.name">{{ c.name }}</option>
            </select>
            <label class="font-s">Ciudad</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <select class="form-select">
                <option value="">Seleccione El Estrato</option>
                <option *ngFor="let e of estratoArray" [value]="e">{{ e }}</option>
            </select>
            <label class="font-s">Estrato</label>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-floating mt-3">
            <select class="form-select">
                <option value="">Seleccione La Zona</option>
                <option value="Área Rural">Área Rural</option>
                <option value="Área Urbana">Área Urbana</option>
            </select>
            <label class="font-s">Zona</label>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-floating mt-3">
            <input type="text" class="form-control" (change)="changeBarrio($event)" placeholder="Dirección">
            <label class="font-s">Barrio</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-floating mt-3">
            <select class="form-select" (change)="changeTipoVia($event)">
                <option value="">Tipo De Vía</option>
                <option *ngFor="let t of tipoViaArray" [value]="t">{{ t }}</option>
            </select>
            <label class="font-s">Tipo De Vía</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <input type="number" class="form-control" [(ngModel)]="address.numero1" placeholder="numero">
            <label class="font-s">Número</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <select class="form-select" [(ngModel)]="address.letra1">
                <option value="">Letra</option>
                <option *ngFor="let l of alphabet" [value]="l">{{ l }}</option>
            </select>
            <label class="font-s">Letra</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <select class="form-select" [(ngModel)]="address.letra2">
                <option value="">Letra</option>
                <option *ngFor="let l of alphabet" [value]="l">{{ l }}</option>
            </select>
            <label class="font-s">Letra</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating mt-3">
            <select class="form-select" [(ngModel)]="address.sentido1">
                <option value="">Sentido</option>
                <option *ngFor="let s of sentidoArray" [value]="s">{{ s }}</option>
            </select>
            <label class="font-s">Sentido</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <input type="number" class="form-control" (change)="changeNum2($event)" placeholder="numero">
            <label class="font-s">Número</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <select class="form-select" (change)="changeLetra3($event)">
                <option value="">Letra</option>
                <option *ngFor="let l of alphabet" [value]="l">{{ l }}</option>
            </select>
            <label class="font-s">Letra</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <select class="form-select" [(ngModel)]="address.letra4">
                <option value="">Letra</option>
                <option *ngFor="let l of alphabet" [value]="l">{{ l }}</option>
            </select>
            <label class="font-s">Letra</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mt-3">
            <select class="form-select" [(ngModel)]="address.sentido2">
                <option value="">Sentido</option>
                <option *ngFor="let s of sentidoArray" [value]="s">{{ s }}</option>
            </select>
            <label class="font-s">Sentido</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating mt-3">
            <input type="number" class="form-control" (change)="changeNum3($event)" placeholder="numero">
            <label class="font-s">Número</label>
        </div>
    </div>
</div>