<!-- BOTON FLOTANTE -->
<div class="floating-container">
    <div class="floating-button"><i class="fa-solid fa-plus"></i></div>
    <div class="element-container">
        <button class="float-element" data-toggle="tooltip" title="Celular" data-bs-placement="left" triggers="hover"
            delay="0">
            <i class="fa-solid fa-phone"></i>
        </button>
        <button class="float-element tooltip-left" data-toggle="tooltip" title="Dirección" data-bs-placement="left"
            triggers="hover" delay="0">
            <i class="fa-solid fa-book"></i>
        </button>
        <button class="float-element" data-toggle="tooltip" title="Correo" data-bs-placement="left" triggers="hover"
            delay="0">
            <i class="fa-solid fa-envelope"></i>
        </button>
        <button class="float-element" data-toggle="tooltip" title="Referencias" data-bs-placement="left"
            triggers="hover" delay="0">
            <i class="fa-solid fa-address-book"></i>
        </button>

    </div>
</div>