<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasNovedades" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Novedades</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card mb-2" *ngFor="let c of datosArray">
            <div class="card-body">
                <h6 class="title">{{ c.tipo }}</h6>

                <div class="row">
                    <div class="col-md-2">
                        <span><i class="{{ c.icon }}"></i></span>
                    </div>
                    <div class="col-md-10">
                        <h6 class="text-12">{{ c.dato }}</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<button class="btn btn-sm btn-success floating-button highlight-button" data-bs-toggle="modal"
    data-bs-target="#modalAcuerdo">
    <i class="fa-solid fa-play"></i>
</button>