<ul class="nav nav-underline tabs" id="tabFiltros" role="tablist">
    <li class="nav-item">
        <a class="nav-link active color-red" id="filtrado-tab" data-bs-toggle="tab" href="#filtrado" role="tab"
            aria-controls="filtrado" aria-selected="true">Filtrado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-red" id="ordenamiento-tab" data-bs-toggle="tab" href="#ordenamiento" role="tab"
            aria-controls="ordenamiento" aria-selected="false">Ordenamiento</a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-red" id="asesores-tab" data-bs-toggle="tab" href="#asesores" role="tab"
            aria-controls="asesores" aria-selected="false">Asesores</a>
    </li>
</ul>

<div class="tab-content" id="tabContent">
    <!-- FILTROS -->
    <div class="tab-pane fade show active" id="filtrado" role="tabpanel" aria-labelledby="filtrado-tab">
        <div class="container">
            <h4 class="mt-2">Parámetros</h4>

            <hr>

            <!-- FILTRADOS -->
            <span *ngIf="clients.length == 0">
                <div class="row mt-4 mb-4" *ngIf="parametrosConfirm.length > 0">
                    <div class="col-md-12">
                        <div class="card card-bg">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-3" *ngFor="let pc of parametrosConfirm">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <h6>{{ pc.parametro == 'MORA OBLIGATORIA' || pc.parametro == 'DIAS VENCIDOS'
                                                || pc.parametro == 'TOTAL OBLIGACION' ? pc.parametro :
                                                pc.subParametros[0] }}</h6>
                                            <button type="button"
                                                (click)="deleteFiltro(pc.parametro, pc.subParametros[0])"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <!-- ARCHIVO -->
            <div class="card card-file ms-2 mb-3" style="width: fit-content;" *ngIf="parametrosConfirm.length == 0">
                <div class="card-header">
                    <h6 class="text-start">Subir Por Archivo</h6>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <select [(ngModel)]="delimitante" class="form-select" required>
                                <option value="">Delimitante</option>
                                <option value=",">Coma (,)</option>
                                <option value=";">Punto y Coma (;)</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="file" (change)="onFileSelected($event)">
                        </div>
                        <div class="col-md-1" *ngIf="fileContent != null">
                            <button class="btn b" (click)="cancelarArchivo()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card floating-card">
                <div class="card-body p-2">
                    <strong>En Filtro:</strong> {{ clientesFiltro }}
                </div>
            </div>

            <!-- TABLA -->
            <div class="row" *ngIf="clients.length > 0">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Número Obligación</th>
                                    <th scope="col">Edad Vencimiento</th>
                                    <th scope="col">Total Mora</th>
                                    <th scope="col">Total Obligación</th>
                                    <th scope="col">Clasificación Jurídica</th>
                                    <th scope="col">Sede</th>
                                    <th scope="col">Banco</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of clients; let i = index">
                                    <th>{{ i + 1 }}</th>
                                    <td *ngFor="let d of c">{{ d }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- FILTROS -->
            <span *ngIf="clients.length == 0">
                <div class="row">
                    <ng-container *ngFor="let p of parametrosArray">
                        <div class="col-md-4 mb-3" style="overflow-y: auto; height: 200px;"
                            *ngIf="!optionConfirm.includes(p.parametro)">
                            <h6 class="color-red">{{ p.parametro }}</h6>

                            <ng-container *ngFor="let sp of p.subParametros; let i = index">
                                <ul class="list-group">
                                    <button class="btn" (click)="filtrosGenerales(p, sp, i)"
                                        [id]="p.parametro + '-' + sp.subParametro + '-' + i" style="border: none;">
                                        <li class="list-group-item"
                                            *ngIf="p.parametro != 'MONTO VENCIDO' && p.parametro != 'DIAS VENCIDOS' && p.parametro != 'TOTAL OBLIGACION'">
                                            <h6 class="font-sub">{{
                                                sp.subParametro
                                                }}</h6>
                                        </li>
                                        <li class="list-group-item"
                                            *ngIf="p.parametro == 'MONTO VENCIDO' || p.parametro == 'TOTAL OBLIGACION' || p.parametro == 'DIAS VENCIDOS'">
                                            <h6 class="font-sub">
                                                {{
                                                i == 0 ? ('Desde 1 Hasta ' + sp.subParametro) :
                                                i == 1 ? ('Desde ' + (p.subParametros[0].subParametro | number) + '
                                                Hasta ' + (sp.subParametro | number)) :
                                                ('Mayor a ' + (sp.subParametro | number))
                                                }}
                                            </h6>


                                        </li>
                                    </button>

                                </ul>
                            </ng-container>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-6" *ngIf="!optionConfirm.includes('FECHA VENCIMIENTO')">
                            <h5 class="color-red">FECHA VENCIMIENTO</h5>
                            <div class="row mb-4">
                                <div class="col-md-5">
                                    <div class="mt-3">
                                        <label class="form-label fw-bold">Inicio</label>
                                        <input type="date" class="form-control"
                                            [(ngModel)]="filtrosGeneralObj.parametrosFiltradoDTO!.fechaStart">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mt-3">
                                        <label class="form-label fw-bold">Fin</label>
                                        <input type="date" class="form-control"
                                            [(ngModel)]="filtrosGeneralObj.parametrosFiltradoDTO!.fechaEnd">
                                    </div>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <button class="btn b" (click)="filtroFecha('FECHA VENCIMIENTO')">Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <button class="btn btn-guardar" (click)="createView()">Crear
                Bloque</button>
        </div>
    </div>

    <!-- ORDENAMIENTO -->
    <div class="tab-pane fade" id="ordenamiento" role="tabpanel" aria-labelledby="ordenamiento-tab">
        <div class="container">
            <h4 class="mt-2">Ordenamiento</h4>

            <hr>

            <div class="card floating-card">
                <div class="card-body p-2">
                    <strong>Clientes:</strong> {{ clientesFiltro }}
                </div>
            </div>

            <div class="row mt-4 mb-4" *ngIf="ordenamientoConfirm.length > 0">
                <div class="col-md-12">
                    <div class="card card-bg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let o of ordenamientoConfirm">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <h6>{{ o }}</h6>
                                        <button type="button" (click)="deleteOrdenamientoCampaign(o)" class="btn-close"
                                            data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <ng-container *ngFor="let o of ordenamientoArray">
                    <div class="col-md-4 mb-3" *ngIf="!ordenamientoConfirm.includes(o)">
                        <h6 class="color-red">{{ o }}</h6>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="font-sub" (click)="asignarOrdenamiento(o, 'ASC')">De Menor a Mayor</h6>
                            </li>
                        </ul>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="font-sub" (click)="asignarOrdenamiento(o, 'DESC')">De Mayor a Menor</h6>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <button *ngIf="ordenamientoArray.length > 0" class="btn btn-guardar" (click)="createView()">Crear
                Bloque</button>
        </div>
    </div>

    <!-- ASESORES -->
    <div class="tab-pane fade" id="asesores" role="tabpanel" aria-labelledby="asesores-tab">
        <div class="container">
            <h4 class="mt-2">Asesores</h4>

            <hr>

            <div class="row">
                <div class="col-md-12 text-start">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            [(ngModel)]="campaignObj.isAsignacion" [checked]="campaignObj.isAsignacion == true">
                        <label class="form-check-label fw-bold">¿Es una campaña de asignación?</label>
                    </div>
                </div>
            </div>
            <br>

            <div class="row mb-3">
                <div class="col-md-3" *ngFor="let a of asesoresArray">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" (click)="asignarAsesor(a.idUsuario)"
                            [checked]="campaignObj.asesoresId.includes(a.idAsesorCartera)">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ a.nombres | uppercase }} {{ a.apellidos | uppercase }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center text-center mb-3" *ngIf="viewsArray.length > 0">
                <div class="col-md-4">
                    <div class="mt-2 mb-3">
                        <label class="form-label color-red">Agregue un nombre a la Campaña</label>
                        <input type="text" class="form-control" placeholder="Nombre Campaña"
                            [(ngModel)]="campaignObj.nombreCampania">
                    </div>
                </div>
            </div>


            <button *ngIf="viewsArray.length > 0" class="btn btn-guardar" (click)="createCampaign()">Crear
                Campaña</button>
        </div>
    </div>
</div>