<ul class="nav nav-underline tabs" id="tabFiltros" role="tablist">
    <li class="nav-item">
        <a class="nav-link active color-red" id="filtrado-tab" data-bs-toggle="tab" href="#filtrado" role="tab"
            aria-controls="filtrado" aria-selected="true">Filtrado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-red" id="ordenamiento-tab" data-bs-toggle="tab" href="#ordenamiento" role="tab"
            aria-controls="ordenamiento" aria-selected="false">Ordenamiento</a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-red" id="asesores-tab" data-bs-toggle="tab" href="#asesores" role="tab"
            aria-controls="asesores" aria-selected="false">Asesores</a>
    </li>
</ul>

<div class="tab-content" id="tabContent">
    <!-- FILTROS -->
    <div class="tab-pane fade show active" id="filtrado" role="tabpanel" aria-labelledby="filtrado-tab">
        <div class="container">
            <h2 class="mt-2">Parámetros</h2>

            <hr>

            <div class="card floating-card">
                <div class="card-body p-2">
                    <strong>Clientes:</strong> {{ clientesFiltro }}
                </div>
            </div>

            <div class="row mt-4 mb-4" *ngIf="parametrosConfirm.length > 0">
                <div class="col-md-12">
                    <div class="card card-bg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let pc of parametrosConfirm">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <h6>{{ pc.subParametros[0] }}</h6>
                                        <button type="button" (click)="deleteFiltro(pc.parametro, pc.subParametros[0])"
                                            class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <ng-container *ngFor="let p of parametrosArray">
                    <div class="col-md-4 mb-3" style="overflow-y: auto; height: 200px;"
                        *ngIf="!optionConfirm.includes(p.parametro)">
                        <h6 class="color-red">{{ p.parametro }}</h6>

                        <ng-container *ngFor="let sp of p.subParametros; let i = index">
                            <ul class="list-group"
                                *ngIf="!(p.parametro == 'MORA OBLIGATORIA' && sp.idSubParametro == 4 || p.parametro == 'DIAS VENCIDOS' && sp.idSubParametro == 4 || p.parametro == 'TOTAL OBLIGACION' && sp.idSubParametro == 4)">
                                <li class="list-group-item" (click)="filtrosGenerales(p, sp)">
                                    <h6 class="font-sub">{{
                                        sp.subParametro
                                        }}</h6>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-md-6" *ngIf="!optionConfirm.includes('FECHA VENCIMIENTO')">
                        <h5 class="color-red">FECHA VENCIMIENTO</h5>
                        <div class="row mb-4">
                            <div class="col-md-5">
                                <div class="mt-3">
                                    <label class="form-label fw-bold">Inicio</label>
                                    <input type="date" class="form-control" [(ngModel)]="filtrosGeneralObj.fechaStart">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mt-3">
                                    <label class="form-label fw-bold">Fin</label>
                                    <input type="date" class="form-control" [(ngModel)]="filtrosGeneralObj.fechaEnd">
                                </div>
                            </div>
                            <div class="col-md-2 mt-5">
                                <button class="btn b" (click)="filtroFecha('FECHA VENCIMIENTO')">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-guardar" (click)="createView()">Crear
                    Bloque</button>
            </div>
        </div>
    </div>

    <!-- ORDENAMIENTO -->
    <div class="tab-pane fade" id="ordenamiento" role="tabpanel" aria-labelledby="ordenamiento-tab">
        <div class="container">
            <h2 class="mt-2">Ordenamiento</h2>

            <hr>

            <div class="card floating-card">
                <div class="card-body p-2">
                    <strong>Clientes:</strong> {{ clientesFiltro }}
                </div>
            </div>

            <div class="row mt-4 mb-4" *ngIf="ordenamientoConfirm.length > 0">
                <div class="col-md-12">
                    <div class="card card-bg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let o of ordenamientoConfirm">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <h6>{{ o }}</h6>
                                        <button type="button" (click)="deleteOrdenamientoCampaign(o)" class="btn-close"
                                            data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <ng-container *ngFor="let o of ordenamientoArray">
                    <div class="col-md-4 mb-3" style="overflow-y: auto; height: 200px;"
                        *ngIf="!ordenamientoConfirm.includes(o)">
                        <h6 class="color-red">{{ o }}</h6>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="font-sub" (click)="asignarOrdenamiento(o, 'ASC')">De Menor a Mayor</h6>
                            </li>
                        </ul>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="font-sub" (click)="asignarOrdenamiento(o, 'DESC')">De Mayor a Menor</h6>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <button *ngIf="ordenamientoArray.length > 0" class="btn btn-guardar" (click)="createView()">Crear
                Bloque</button>
        </div>
    </div>

    <!-- ASESORES -->
    <div class="tab-pane fade" id="asesores" role="tabpanel" aria-labelledby="asesores-tab">
        <div class="container">
            <h2 class="mt-2">Asignar Asesores</h2>

            <hr>

            <div class="row mb-3">
                <div class="col-md-3" *ngFor="let a of asesoresArray">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" (click)="asignarAsesor(a.idAsesorCartera)">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ a.usuario.nombres | uppercase }} {{ a.usuario.apellidos | uppercase }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center text-center mb-3" *ngIf="viewsArray.length > 0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label">Nombre Campaña</label>
                                <input type="text" class="form-control" placeholder="Campaña"
                                    [(ngModel)]="campaignObj.nombreCampania">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button *ngIf="viewsArray.length > 0" class="btn btn-guardar" (click)="createCampaign()">Crear
                Campaña</button>
        </div>
    </div>
</div>