<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
    <div class="titulo">Agregar Usuarios</div>
    <div class="subtitulo">Ingresar los datos del Nuevo Usuario</div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <label for="text">Username</label>
            <div class="usuario">

                <i class="fa-solid fa-user-secret"></i>
                <input type="text" class="input-usuario input1" placeholder="Username">

            </div>
            <label for="text">Contraseña</label>
            <div class="usuario">

                <i class="fa-solid fa-key"></i>

                <input name="username" type="text" class="input-usuario input1" placeholder="Username">
            </div>
        </div>
        <div class="col-md-6">
            <label for="text">Nombre</label>
            <div class="usuario">
                <i class="fa-solid fa-signature"></i>

                <input type="text" class="input-usuario input1" placeholder="Nombre">


            </div>
                <label for="text">Apellido</label>
                <div class="usuario">
                    <i class="fa-solid fa-signature"></i>
                    <input type="text" class="input-usuario input1" placeholder="Apellido">
                </div>
        </div>



    </div>


    <div class="row align-items-start">
        <div class="col-md-6 col-12">
            <label for="select">Seleccione su Tipo de Documento</label>
            <div class="selecionar">
                <select name="tipo_documento" class="form-select">
                    <option selected>Opciones</option>
                    <option value="1">Cedula de Ciudadania</option>
                    <option value="2">Cedula de Extranjeria</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <label for="text">N° Documento</label>

            <div class="usuario">

                <i class="fa-solid fa-address-card"></i>

                <input type="text" class="input-pass input1" placeholder="Documento">


            </div>
        </div>



    </div>

    <div class="row align-items-center">
        <div class="col-md-6 col-12">

            <label for="email">Correo</label>
            <div class="usuario">
                <i class="fa-solid fa-envelope"></i>

                <input type="text" class="input-usuario input1" placeholder="Correo">

            </div>
        </div>

        <div class="col">
            <label for="number">Telefono</label>
            <div class="usuario">

                <i class="fa-solid fa-phone"></i>

                <input type="number" class="input-usuario input1" placeholder="Telefono Celular">


            </div>

        </div>

    <div class="row align-items-center">
        <div class="col">
            <label for="email">Fecha</label>
            <div class="usuario">
                <input name="fecha_nacimiento" type="date" class="input-usuario input1">
            </div>
        </div>
    </div>


    <button class="btn-guardar" [routerLink]="'/dashboard-administracion/rolesUsuariosGuardados'">Gestionar Roles</button>



    </div>
    

