
#main-container{
    margin: 150px auto;
    width: 700px;
}

table{
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 150%;
    
}

th, td{
    padding: 30px;
}

thead{
    background-color: #212121;
    border-bottom: solid 5px #f70202;
    color: white;
}

tr:hover td{
    background-color: #146b47a6;
    color: #fff;

}

/* estilo de los botos  */

input#agregar{
    color: #fff;
    background-color: #990202;
    padding:  20px;
    border-radius: 20px;
}

input#exportar{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} 

input#traer{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} */

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
background-color: #212121;
}

.estructura ul li{
    float: left;

} 

.estructura ul{
    list-style: none;
}  

.footer-content{
    display: flex;
    flex-direction: column;
    flex-direction: column;
} 

.card{
    padding: 100px;
    box-shadow: 0 30px 60px 0 rgb(0, 0, 0);
    display: flex;
    flex-direction: column; 
}

.listado-numeros ul li{
    margin: 0 10px;
    cursor: pointer;
    float: left;
    position: relative;
}

.listado-numeros ul{
    list-style: none;
}

li.active{
    background: #212121;
    color: #fff;
}