
#main-container{
    margin: 150px auto;
    width: 700px;
}

.card{
    padding: 100px;
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
    color: #000;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: #dfe2e5;
    box-shadow: 5px 5px 5px #707274, -14px -9px 5px 5px #ffffff;
    padding: 20px;
    margin-bottom: 10px;
}

.buscador{
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background: #ecf0f3ea;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.tbl{
    background: #dfe2e5;
    text-align: left;
    border-collapse: collapse;
    width: 100%; 
}

th, td{
    padding: 20px;
}

.indicador{
    border-bottom: solid 5px #961c1c;
    color: rgb(0, 0, 0);
    width: 100%;
}

tr:hover td{
    background-color: #f6faf8;
    color: rgb(0, 0, 0);
}


/* estilo de los botos  */

.btn-danger{
    background: #8d1515;
    cursor: pointer;
    color: #Fff;
    outline: none;
    border: #f70606;
    border-radius: 18px;
    height: 50px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #707274, -2px 0px 2px 0px #707274;
}

.btn-danger:hover{
    background: #D60303 ;
}


.contend{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 13px 10px;
    border-bottom: 10px;
}
.placeholder{
    background: #000000d8;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
background-color: #212121;
}


.estructura ul li{
    float: left;

} 

.estructura ul{
    list-style: none;
}  

.footer-content{
    display: flex;
    flex-direction: column;
    flex-direction: column;
} 


.listado-numeros {
    margin: 0 40px;
    position: relative;
    align-items: center;
}
.listado-numeros ul li{
    margin: 0 10px;
    cursor: pointer;
    float: left;
    position: relative;
}
.listado-numeros ul{
    list-style: none;
}

.active{
    background: #212121;
    color: #fff;
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .container {
        width: 400px;
    }
}