<div class="container-fluid">
    <div class="sidebar">
        <ul>
            <li (click)="goToHome()"><i class="fa-solid fa-house margin-si" style="margin-left: -3px;"></i></li>
            <span class="span-style text-center mb-3">Inicio</span>

            <li (click)="sidebarOptions(0)"><span
                    [ngClass]="{'': optionsArray[0] == false, 'sidebar-selected': optionsArray[0] == true}"><i
                        class="fa-solid fa-clipboard margin-si"></i></span></li>
            <span class="span-style text-center mb-3"
                [ngClass]="{'': optionsArray[0] == false, 'sidebar-selected': optionsArray[0] == true}">Gestión</span>

            <li (click)="sidebarOptions(1)"><span
                    [ngClass]="{'': optionsArray[1] == false, 'sidebar-selected': optionsArray[1] == true}"><i
                        class="fa-solid fa-calculator margin-si"></i></span></li>
            <span class="span-style text-center mb-3"
                [ngClass]="{'': optionsArray[1] == false, 'sidebar-selected': optionsArray[1] == true}">Asignación</span>

            <li (click)="sidebarOptions(2)"><span
                    [ngClass]="{'': optionsArray[2] == false, 'sidebar-selected': optionsArray[2] == true}"><i
                        class="fa-solid fa-file-signature margin-si"></i></span></li>
            <span class="span-style text-center mb-3"
                [ngClass]="{'': optionsArray[2] == false, 'sidebar-selected': optionsArray[2] == true}">Acuerdo</span>

            <li (click)="sidebarOptions(3)"><span
                    [ngClass]="{'': optionsArray[3] == false, 'sidebar-selected': optionsArray[3] == true}"><i
                        class="fa-solid fa-bell margin-si"></i></span></li>
            <span class="span-style text-center mb-3"
                [ngClass]="{'': optionsArray[3] == false, 'sidebar-selected': optionsArray[3] == true}">Evento</span>

            <li (click)="sidebarOptions(4)"><span
                    [ngClass]="{'': optionsArray[4] == false, 'sidebar-selected': optionsArray[4] == true}"><i
                        class="fa-solid fa-user-shield margin-si"></i></span></li>
            <span class="span-style text-center mb-3"
                [ngClass]="{'': optionsArray[4] == false, 'sidebar-selected': optionsArray[4] == true}">Localización</span>
        </ul>
    </div>

    <div class="options" id="options">

        <!-- GESTION -->
        <app-options-gestion *ngIf="optionsArray[0]"></app-options-gestion>


        <!-- ASIGNACION -->
        <app-options-asignacion *ngIf="optionsArray[1]"></app-options-asignacion>
    </div>
</div>

<div class="card floating-card">
    <!-- MODO GESTION -->
    <div *ngIf="optionsArray[0]" class="card-header text-center align-middle"
        style="margin-top: -5px; padding-bottom: 10px;"
        [ngClass]="{'card-mode-disabled': !gestionMode , 'card-mode-activate': gestionMode}">
        <div class="row mt-3">
            <div class="col-md-8">Modo Gestión</div>
            <div class="col-md-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" [(ngModel)]="gestionMode" type="checkbox" role="switch"
                        [checked]="false" (click)="changeGestionMode()">
                </div>
            </div>
        </div>
    </div>

    <!-- MODO ASIGNACION -->
    <div *ngIf="optionsArray[1]" class="card-header text-center align-middle"
        style="margin-top: -5px; padding-bottom: 10px;"
        [ngClass]="{'card-mode-disabled': !asigMode , 'card-mode-activate': asigMode}">
        <div class="row mt-3">
            <div class="col-md-8">Asignación</div>
            <div class="col-md-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" [(ngModel)]="asigMode" type="checkbox" role="switch"
                        [checked]="false">
                </div>
            </div>
        </div>
    </div>
</div>