<div class="container">
    <div class="titulo">
        <div class="row align-items-start">
            <div class="col" style = "margin-top: 2%;">
                        <label for="text">Digite su Correo</label>
                    <div class="usuario">
                     <input type="email" class="input-usuario" placeholder="Digite su correo">
                    </div>
                </div>
            </div>
        </div>

            <div class="titulo" style = "margin-top: 2%;">CAMBIAR CONTRASEÑA

        <div class="row align-items-start">
            <div class="col" style = "margin-top: 2%;">
                        <label for="text">Contraseña</label>
                    <div class="usuario">
                     <input type="password" class="input-usuario" placeholder="Digite su contraseña">
                    </div>
                </div>
            </div>

                <div class="row align-items-start">
                    <div class="col" style = "margin-top: 2%;">
                        <label for="text">Repita su contraseña</label>
                        <div class="contraseña">
                            <input type="password" class="input-usuario" placeholder="Digite su contraseña">
                            </div>

                            <div class="row align-items-start">
                                <div class="col" style = "margin-top: 2%;"   >
                                    <label for="text">Digite su nueva contraseña</label>
                                <div class="usuario">
                                    <input type="password" class="input-usuario" placeholder="Digite su nueva contraseña">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <button class="btn-guardar">Cambiar Contraseña</button>
</div>


