<div class="container">
    <div class="titulo">Cambiar Contraseña
       
        <div class="row align-items-start">
            <div class="col" style = "margin-top: 2%;">
                        <label for="text">Contraseña</label>
                    <div class="usuario">
                     <input type="password" class="input-usuario" placeholder="Digite su contraseña">
                    </div>
                </div>
            </div>

                <div class="row align-items-start">
                    <div class="col" style = "margin-top: 2%;">
                        <label for="text">Repita su contraseña</label>
                        <div class="contraseña">
                            <input type="password" class="input-usuario" placeholder="Digite su contraseña">
                            </div>

                            <div class="row align-items-start">
                                <div class="col" style = "margin-top: 2%;"   >
                                    <label for="text">Digite su nueva contraseña</label>
                                <div class="usuario">
                                    <input type="password" class="input-usuario" placeholder="Digite su nueva contraseña">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <button class="btn-guardar">Guardar</button>
</div>


