.container{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    margin-top: 50px;
    border-radius: 40px;
    background: #dfe2e5;
    box-shadow: 5px 5px 5px #707274, -14px -9px 5px 5px #ffffff;
}

.titulo{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 24px;
}

input{
    border: none;
    text-align: center;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 13px 10px;
    border-bottom: 10px;
}

.usuario,
.contraseña{
    border-radius: 25px;
    text-align: center;
    width: 400px;
    margin: 15px auto;
    background: #ecf0f3;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.btn-guardar{
    display: block;
    object-fit: cover;
    margin: 15px auto;
    margin-top: 25px;
    overflow: hidden;
    padding: 10px;
    color: #fff;
    background: #9C1717;
    cursor: pointer;
    width: auto;
    outline: none;
    border: #cbced1;
    border-radius: 18px;
    height: 50px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #707274, -2px 0px 2px 0px #707274;
}

.btn-guardar:hover{
    background: #D60303 ;
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .container {
        width: 400px;
    }

    .usuario, .contraseña{
        width: auto;
    }
}