
<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
        <div class="titulo">GMJ Hogar</div>
        <div class="subtitulo"> Evidencia de Observaciones</div>

                <div class="row align-items-start">
                    <div class="col">
                        <strong><label for="select">Sede:</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Opciones</option>
                                    <option value="1">Electro Hogar</option>
                                    <option value="2">Electro Hogar1</option>
                            </select>
                        </div>
                    </div>
                    

                    <div class="col">
                        <div class="col">
                            <strong><label for="date">Fecha:</label></strong>
                            <div class="fecha">
                                <input type="date" class="form-control"  placeholder="Fecha" aria-label="Fecha">
                            </div>
                        </div>
                    

                    </div>
                </div>

            <div class="row align-items-center">


                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="observaciones" value="true" rows="1" placeholder="Observacion" ></textarea>
                </div>



                <div class="col">
                    <strong><label for="select">Hizo la evaluacion:</label></strong>
                    <div class="selecionar">
                        <select class="form-select">
                                <option selected>Opciones</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <strong><label for="select">Archivo:</label></strong>
                <div class="file">
                    <input type="file" class="input-usuario" >
                </div>
            </div>

<!--                 <div class="imagen">
                    <img src="../../../../../assets/convive.png" alt="">
                </div> -->
                <button class="boton">Guardar</button>
</div>




