<div class="contenedor">
    <div class="card">
        <div class="card-encabezado">
            <img src="../../../../../assets/H_electro.svg" alt="">
        </div>
        <div class="card-contenido">
            <div class="info-personal desplazar">alex</div>
            <div class="info-personal desplazar">el salvador</div>
            <div class="info-personal desplazar">
                <p>Programas, como docente</p>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-cuerpo">
            <div class="card-encabezado">
                <img src="../../../../../assets/H_electro.svg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">alex</div>
                <div class="info-personal desplazar">el salvador</div>
                <div class="info-personal desplazar">
                    <p>Programas, como docente</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-cuerpo">
            <div class="card-encabezado">
                <img src="../../../../../assets/H_electro.svg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">alex</div>
                <div class="info-personal desplazar">el salvador</div>
                <div class="info-personal desplazar">
                    <p>Programas, como docente</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-cuerpo">
            <div class="card-encabezado">
                <img src="../../../../../assets/H_electro.svg" alt="">
            </div>
            <div class="card-contenido">
                <div class="info-personal desplazar">alex</div>
                <div class="info-personal desplazar">el salvador</div>
                <div class="info-personal desplazar">
                    <p>Programas, como docente</p>
                </div>
            </div>
        </div>
    </div>


</div>
