<!-- Modal Referencias -->
<div class="modal fade" id="modalRef" tabindex="-1" aria-labelledby="modalRef" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Referencias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                    <textarea class="form-control"></textarea>
                    <label for="floatingTextarea">Referencias</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Añadir Nueva</button>
            </div>
        </div>
    </div>
</div>