<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
        <div class="titulo">GMJ Hogar</div>
        <div class="subtitulo"> Evidencias</div><br><br>

                    <div class="col">
                        <strong><label for="select">Archivo:</label></strong><br>
                        <div class="file">
                            <input type="file" class="input-usuario" >
                        </div>
                    </div><br>
                    
                <button class="boton">Guardar</button>
</div>

