<div class="container container-lg">
  <div class="titulo mt-2">Editar datos de usuario</div>
  <div class="titulo mt-2">
    <form *ngIf="usuario" (ngSubmit)="onActualizarDatosUsuario()">
      <div class="d-flex flex-column mx-auto gap-3 mt-3 w-50">
        <div class="d-flex justify-content-between px-5 mx-3">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="nombreValue" class="text-muted"> Nombre </label>
              <input
                [(ngModel)]="usuario.nombres"
                type="text"
                name="nombres"
                class="form-control my-0"
                id="nombreValue"
                placeholder="Nombre"
                value="{{ usuario.nombres }}"
              />
            </div>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="apellidoValue" class="text-muted"> Apellido </label>
              <input
                [(ngModel)]="usuario.apellidos"
                type="text"
                name="apellidos"
                class="form-control my-0"
                id="apellidoValue"
                placeholder="Apellido"
                value="{{ usuario.apellidos }}"
              />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between px-5 mx-3">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="tipoDocumentoValue" class="text-muted">
                Tipo de documento
              </label>
              <input
                [(ngModel)]="usuario.tipo_documento"
                type="text"
                name="tipo_documento"
                class="form-control my-0"
                id="tipoDocumentoValue"
                placeholder="Tipo de documento"
                value="{{ usuario.tipo_documento }}"
              />
            </div>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="documentoValue" class="text-muted">
                Número de documento
              </label>
              <input
                [(ngModel)]="usuario.numero_documento"
                type="text"
                name="numero_documento"
                class="form-control my-0"
                id="documentoValue"
                placeholder="Número de documento"
                value="{{ usuario.numero_documento }}"
              />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between px-5 mx-3">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="celularValue" class="text-muted"> Celular </label>
              <input
                [(ngModel)]="usuario.celular"
                type="text"
                name="celular"
                class="form-control my-0"
                id="celularValue"
                placeholder="Celular"
                value="{{ usuario.celular }}"
              />
            </div>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column">
              <label for="fechaNacimientoValue" class="text-muted">
                Fecha de nacimiento
              </label>
              <input
                [(ngModel)]="usuario.fecha_nacimiento"
                type="text"
                name="fecha_nacimiento"
                class="form-control my-0"
                id="fechaNacimientoValue"
                placeholder="Fecha de nacimiento"
                value="{{ usuario.fecha_nacimiento }}"
              />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center px-5 mx-3 mb-4">
          <div class="d-flex flex-column w-100">
            <label for="emailValue" class="text-muted">
              Correo electrónico
            </label>
            <input
              [(ngModel)]="usuario.email"
              type="email"
              name="email"
              class="form-control my-0 w-100"
              id="emailValue"
              placeholder="Correo electrónico"
              value="{{ usuario.email }}"
            />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-5 mb-4">
        <button class="btn rounded-pill b" [routerLink]="'/perfil'">
          Cancelar
        </button>
        <button type="submit" class="btn rounded-pill b">Confirmar</button>
      </div>
    </form>
  </div>
</div>
