<div class="offcanvas offcanvas-start size bg" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header ">
        <i class="fas fa-user mr30" style="color: white; height: 70px; width: 50px;"></i>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            style="background-color: white;"></button>

    </div>
    <h2 style="color: white; font-size: 1.2em;font-weight: bold;" class="text-center">Departamento Administracion
        General</h2>
    <hr style="color: white;">
    <ul class="nav flex-column ">

        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#getting-started-collapse" aria-expanded="false"><i class="fas fa-sort-down"></i>&nbsp;
                Gestion Sistema
            </button>

            <div class="collapse" id="getting-started-collapse" data-bs-dismiss="offcanvas">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li> <button class="nav-link active" aria-current="page"
                            [routerLink]="'/dashboard-admin-general/system-roles'"><i class="fas fa-user-cog"></i>&nbsp;
                            Crear Roles Sistema</button></li>

                    <li><button class="nav-link active" aria-current="page"
                            [routerLink]="'/dashboard-admin-general/system-permisos'"><i class="fas fa-user-plus"></i>
                            &nbsp; Crear Permisos Sistema</button></li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#getting-started-collapse-clientes" aria-expanded="false"><i
                    class="fas fa-sort-down"></i>&nbsp;
                Gestionar Clientes
            </button>

            <div class="collapse" id="getting-started-collapse-clientes" data-bs-dismiss="offcanvas">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li> <button class="nav-link active" aria-current="page" [routerLink]="'buscar-cliente'"><i
                                class="fa-solid fa-magnifying-glass"></i>&nbsp; Buscar Clientes </button></li>

                    <li><button class="nav-link active" aria-current="page" [routerLink]="'agregar-cliente'"><i
                                class="fas fa-user-plus"></i>
                            &nbsp; Agregar Un Cliente</button></li>

                    <li><button class="nav-link active" aria-current="page" [routerLink]="'agregar-varios-clientes'"><i
                                class="fas fa-user-plus"></i>
                            &nbsp; Agregar Varios Clientes</button></li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#getting-started-collapse-usuarios" aria-expanded="false"><i
                    class="fas fa-sort-down"></i>&nbsp;
                Gestionar Usuarios
            </button>

            <div class="collapse" id="getting-started-collapse-usuarios" data-bs-dismiss="offcanvas">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li> <button [routerLink]="'crear-usuario'" class="nav-link active" aria-current="page"><i
                                class="fas fa-user-plus"></i>&nbsp; Crear Usuarios</button></li>
                    <li> <button [routerLink]="'buscar-usuario'" class="nav-link active" aria-current="page"><i
                                class="fas fa-user-plus"></i>&nbsp; Listar Usuarios</button></li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapse-cartera" aria-expanded="false"><i class="fas fa-sort-down"></i>&nbsp;
                Gestión Cartera
            </button>

            <div class="collapse" id="collapse-cartera" data-bs-dismiss="offcanvas">
                <ul class="list-unstyled fw-normal pb-1 small">
                    <li> <button [routerLink]="'parametros'" class="nav-link active" aria-current="page"><i
                                class="fa-solid fa-marker"></i>&nbsp; Parámetros</button></li>
                    <!-- <li> <button [routerLink]="'buscar-usuario'" class="nav-link active" aria-current="page"><i
                                class="fas fa-user-plus"></i>&nbsp; Listar Usuarios</button></li> -->
                </ul>
            </div>
        </li>


    </ul>
    <hr style="color: white;">
    <ul class="nav flex-column ">

        <li class="nav-item">
            <button (click)="logout()" class="nav-link active" aria-current="page"><i
                    class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</button>
        </li>
    </ul>

</div>