
<div class="min-screen">

    <div #datos class="screen-box active">
                <div class="screen">
                    <div class="content">
                        <div class="container" >
                            <div class="pruba active">
                                <div class="imagen-portada">
                                    <img src="../../../../../assets/H_electro.svg" alt="">
                                </div>
                                    <div class="titulo">GMJ Hogar</div>
                                    <div class="subtitulo">Ver Creditos Creados</div><br>
                            
                                        <button class="boton">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--         <div class="screen-box">
            <div class="screen">
                <div class="content">
                    <div class="container" >
                        <div class="pruba active">
                            <div class="imagen-portada">
                                <img src="images/H_electro.svg" alt="">
                            </div>
                                <div class="titulo">GMJ Hogar</div>
                                <div class="subtitulo">Ver Creditos Creados</div><br>
                        
                                    <button class="boton">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="screen-box">
            <div class="screen">
                <div class="content">
                    <div class="container" >
                        <div class="pruba active">
                            <div class="imagen-portada">
                                <img src="images/H_electro.svg" alt="">
                            </div>
                                <div class="titulo">GMJ Hogar</div>
                                <div class="subtitulo">Ver Creditos Creados</div><br>
                        
                                    <button class="boton">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div  id="next" onclick="next()"> > </div>
    <div  id="back" onclick="back()"> < </div> -->
</div>

