<app-navbar></app-navbar>
<div class="container">
    <header>
        <h1>Permisos Generales</h1>
    </header>

 
    <table class="table">
        <tbody>
            <tr>
                <th scope="text">Cartera</th>
                <td>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Permisos</label>
                        <input  class="form-check-input" type="checkbox" name="cartera" [checked]="false"
                            [(ngModel)]="validar.cartera">
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.cartera" (change)="validarCheck('cartera')" [checked]="false"   class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-all" >
                <label class="form-check-label" for="option-all">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.cartera">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input  class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.cartera.p1" [checked]="false" type="checkbox" value="" id="option-all" >
                            <label class="form-check-label"  for="option-all">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p2" [(ngModel)]="objectGeneral.cartera.p2" [checked]="false" type="checkbox" value="" id="option-a">
                            <label class="form-check-label" for="option-a">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p3" [(ngModel)]="objectGeneral.cartera.p3" [checked]="false" type="checkbox" value="" id="option-b">
                            <label class="form-check-label" for="option-b">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input"  name="p4" [(ngModel)]="objectGeneral.cartera.p4" [checked]="false" type="checkbox" value="" id="option-c">
                            <label class="form-check-label" for="option-c">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p5" [(ngModel)]="objectGeneral.cartera.p5" [checked]="false" type="checkbox" value="" id="option-d">
                            <label class="form-check-label" for="option-d">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p6" [(ngModel)]="objectGeneral.cartera.p6" [checked]="false" type="checkbox" value="" id="option-e">
                            <label class="form-check-label" for="option-e">Default</label>
                        </div>
                    </div>
                </div>
            </tr>


            <tr>
                <th scope="text">Caja</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-caj" name="caja"
                            [checked]="false" [(ngModel)]="validar.caja">
                        <label class="form-check-label" for="option-caj">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.caja" (change)="validarCheck('caja')" [checked]="false"   class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-ca" >
                <label class="form-check-label" for="option-ca">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.caja">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.caja.p1" [checked]="false" type="checkbox" value="" id="option-ca2">
                            <label class="form-check-label" for="option-ca2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.caja.p2" [checked]="false" type="checkbox" value="" id="option-ca3">
                            <label class="form-check-label" for="option-ca3">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.caja.p3" [checked]="false" type="checkbox" value="" id="option-ca4">
                            <label class="form-check-label" for="option-ca4">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.caja.p4" [checked]="false" type="checkbox" value="" id="option-ca5">
                            <label class="form-check-label" for="option-ca5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.caja.p5" [checked]="false" type="checkbox" value="" id="option-ca6">
                            <label class="form-check-label" for="option-ca6">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.caja.p6" [checked]="false" type="checkbox" value="" id="option-ca7">
                            <label class="form-check-label" for="option-ca7">Default</label>
                        </div>
                    </div>
                    
                </div>
            </tr>


            <tr>
                <th scope="text">Archivos</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-acs" name="archivo"
                            [checked]="false" [(ngModel)]="validar.archivo">
                        <label class="form-check-label" for="option-acs">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.archivo" (change)="validarCheck('archivo')" [checked]="false"   class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-as">
                <label class="form-check-label" for="option-as">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.archivo">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.archivo.p1" [checked]="false" type="checkbox" value="" id="option-ar1">
                            <label class="form-check-label" for="option-ar1">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.archivo.p2" [checked]="false" type="checkbox" value="" id="option-ar2">
                            <label class="form-check-label" for="option-ar2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.archivo.p3" [checked]="false" type="checkbox" value="" id="option-ar3">
                            <label class="form-check-label" for="option-ar3">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.archivo.p4" [checked]="false" type="checkbox" value="" id="option-ar4">
                            <label class="form-check-label" for="option-ar4">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.archivo.p5" [checked]="false" type="checkbox" value="" id="option-ar5">
                            <label class="form-check-label" for="option-ar5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.archivo.p6" [checked]="false" type="checkbox" value="" id="option-ar6">
                            <label class="form-check-label" for="option-ar6">Default</label>
                        </div>
                    </div>
                </div>
            </tr>


            <tr>
                <th scope="text">Ventas</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-vts" name="ventas" [(ngModel)]="validar.ventas"> 
                        <label class="form-check-label" for="option-vts">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.ventas" (change)="validarCheck('ventas')" [checked]="false"   class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-vs" >
                <label class="form-check-label" for="option-vs">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.ventas">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.ventas.p1" [checked]="false" type="checkbox" value="" id="option-vs1">
                            <label class="form-check-label" for="option-vs1">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.ventas.p2" [checked]="false" type="checkbox" value="" id="option-vs2">
                            <label class="form-check-label" for="option-vs2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.ventas.p3" [checked]="false" type="checkbox" value="" id="option-vs3">
                            <label class="form-check-label" for="option-vs3">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.ventas.p4" [checked]="false" type="checkbox" value="" id="option-vs4">
                            <label class="form-check-label" for="option-vs4">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.ventas.p5" [checked]="false" type="checkbox" value="" id="option-vs5">
                            <label class="form-check-label" for="option-vs5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.ventas.p6" [checked]="false" type="checkbox" value="" id="option-vs6">
                            <label class="form-check-label" for="option-vs6">Default</label>
                        </div>
                    </div>
                </div>
            </tr>


            <tr>
                <th scope="text">Servicios</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-svs" name="servicios" [(ngModel)]="validar.servicios"> 
                        <label class="form-check-label" for="option-svs">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.servicios" (change)="validarCheck('servicios')" [checked]="false"   class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-svos" >
                <label class="form-check-label" for="option-svos">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.servicios">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.servicios.p1" [checked]="false" type="checkbox" value="" id="option-ss1">
                            <label class="form-check-label" for="option-ss1">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.servicios.p2" [checked]="false" type="checkbox" value="" id="option-ss2">
                            <label class="form-check-label" for="option-ss2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.servicios.p3" [checked]="false" type="checkbox" value="" id="option-ss3">
                            <label class="form-check-label" for="option-ss3">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.servicios.p4" [checked]="false" type="checkbox" value="" id="option-ss4">
                            <label class="form-check-label" for="option-ss4">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.servicios.p5" [checked]="false" type="checkbox" value="" id="option-ss5">
                            <label class="form-check-label" for="option-ss5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.servicios.p6" [checked]="false" type="checkbox" value="" id="option-ss6">
                            <label class="form-check-label" for="option-ss6">Default</label>
                        </div>
                    </div>
                    
                </div>
            </tr>


            <tr>
                <th scope="text">Consignaciones</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-csos" name="consignaciones" [(ngModel)]="validar.consignaciones">
                        <label class="form-check-label" for="option-csos">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.consignaciones" (change)="validarCheck('consignaciones')" [checked]="false" class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-css">
                <label class="form-check-label" for="option-css">seleccionar todo</label>
            </tr>

            <tr *ngIf="validar.consignaciones">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.consignaciones.p1" [checked]="false"  type="checkbox" value="" id="option-cs1">
                            <label class="form-check-label" for="option-cs1">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.consignaciones.p2" [checked]="false"  type="checkbox" value="" id="option-cs2">
                            <label class="form-check-label" for="option-cs2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.consignaciones.p3" [checked]="false"  type="checkbox" value="" id="option-cs3">
                            <label class="form-check-label" for="option-cs3">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.consignaciones.p4" [checked]="false"  type="checkbox" value="" id="option-cs4">
                            <label class="form-check-label" for="option-cs4">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.consignaciones.p5" [checked]="false"  type="checkbox" value="" id="option-cs5">
                            <label class="form-check-label" for="option-cs5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.consignaciones.p6" [checked]="false"  type="checkbox" value="" id="option-cs6">
                            <label class="form-check-label" for="option-cs6">Default</label>
                        </div>
                    </div>
                    
                </div>
            </tr>


            <tr>
                <th scope="text">Administración</th>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="option-ad"
                            [(ngModel)]="validar.administracion">
                        <label class="form-check-label" for="option-ad">Permisos</label>
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.administracion" (change)="validarCheck('administracion')" [checked]="false" class="form-check-input" name="seleccionarTodos"  type="checkbox" value="" id="option-ad">
                <label class="form-check-label" for="option-ad">seleccionar todo</label>
            </tr>
            <tr *ngIf="validar.administracion">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.administracion.p1" [checked]="false" type="checkbox" value="" id="option-an1">
                            <label class="form-check-label" for="option-an1">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p2"  [(ngModel)]="objectGeneral.administracion.p2" [checked]="false" type="checkbox" value="" id="option-an2">
                            <label class="form-check-label" for="option-an2">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p3"  [(ngModel)]="objectGeneral.administracion.p3" [checked]="false" type="checkbox" value="" id="option-an3">
                            <label class="form-check-label" for="option-an3">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" name="p4"  [(ngModel)]="objectGeneral.administracion.p4" [checked]="false" type="checkbox" value="" id="option-an4">
                            <label class="form-check-label" for="option-an4">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p5"  [(ngModel)]="objectGeneral.administracion.p5" [checked]="false" type="checkbox" value="" id="option-an5">
                            <label class="form-check-label" for="option-an5">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="p6"  [(ngModel)]="objectGeneral.administracion.p6" [checked]="false" type="checkbox" value="" id="option-an6">
                            <label class="form-check-label" for="option-an6">Default</label>
                        </div>
                    </div>
                </div>
            </tr>


        </tbody>
    </table>
</div>
