.input-g-sm {
    display: block;
}

.font-alert {
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
}

.input-group-text,
.form-control {
    font-size: 12px;
}

.input-group .form-select {
    font-size: 11px;
}

.bg-red {
    color: white;
    background-color: #960010;
    border-color: #960010;
}

.bg-red:hover {
    background: #d40000;
    border-color: #d40000;
}

.accordion-button {
    font-size: 13.5px;
    padding: 10px 12px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(184, 39, 36, 0.725);
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}

.card-pad {
    padding: 8px;
}

.disabled-input {
    background-color: rgba(135, 135, 135, 0.29);
    color: #404040a7;
}

.card-font {
    background-color: #960010;
    color: white;
    font-size: 14px;
}

/* STYLES SCROLL */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #b7b7b7c5;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.cardFalse {
    margin-top: 60px;
    margin-left: 300px;
    width: 75%;
    background-color: rgba(225, 225, 225, 0.979);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

.cardTrue {
    margin-top: 60px;
    margin-left: 80px;
    width: 88%;
    background-color: rgba(225, 225, 225, 0.979);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .cardFalse {
        width: 77.5%;
        margin-left: 280px;
    }

    .cardTrue {
        width: 92%;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
    .cardFalse {
        width: 83%;
    }

    .cardTrue {
        width: 95%;
    }
}

@media only screen and (min-width: 2560px) and (max-width: 3840px) {
    .cardFalse {
        width: 87%;
    }

    .cardTrue {
        width: 96%;
    }
}