<div class="container mt-0">
  <div class="imagen-portada">
    <img src="../../../../../assets/H_electro.svg" alt="" />
  </div>
  <div class="titulo">Perfil Usuario</div>

  <div class="subtitulo text-center">Datos del Perfil</div>
  <hr class="border-4 w-50 mx-auto mb-2" />

  <div class="d-flex flex-column mx-auto gap-3 mt-3 w-50">
    <div class="d-flex justify-content-between gap-3 col-md-12">
      <div class="subtitulo w-auto">Nombre de Usuario</div>
      <h2
        class="subtitulo w-25 ml-auto"
        *ngIf="
          authenticationService.getToken() &&
          authenticationService.getUsername() != ''
        "
      >
        <strong> {{ authenticationService.getUsername() }}</strong>
      </h2>
    </div>

    <div class="d-flex justify-content-between">
      <div class="subtitulo w-auto my-auto">Rol</div>

      <div class="d-flex flex-column">
        <div class="" *ngFor="let rol of authenticationService.getRoles()">
          <h2 class="subtitulo w-auto">
            <strong>{{ rol.rol }}</strong>
          </h2>
        </div>
      </div>
    </div>

    <div
      class="d-flex justify-content-between"
      *ngFor="let rol of rolesPermisos"
    >
      <div class="subtitulo w-50 my-auto text-start">
        Permisos de rol: <strong>{{ rol.rol }}</strong>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-guardar dropdown-toggle"
          type="button"
          id="dropdownMenuButton{{ rol.rol }}"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <strong> Ver permisos </strong>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-expand pb-5"
          [attr.aria-labelledby]="'dropdownMenuButton' + rol.rol"
        >
          <li
            *ngFor="let permiso of rol.permisos; let j = index"
            class="dropdown-item"
          >
            {{ j + 1 }}. {{ permiso }}
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between gap-3 col-md-12">
      <div class="subtitulo">Sede</div>
      <h2 class="subtitulo w-25">
        <strong>
          {{ authenticationService.getSede() }}
        </strong>
      </h2>
    </div>

    <div class="d-flex justify-content-between gap-3 col-md-12">
      <div class="subtitulo">Fecha de Inicio de Sesion</div>
      <h2 class="subtitulo w-25">
        <strong>
          {{ authenticationService.getFecha()?.toLocaleDateString("es-Es") }}
        </strong>
      </h2>
    </div>
  </div>

  <hr class="border-4 w-50 mx-auto" />

  <div class="d-flex justify-content-center gap-3 col-md-12 mb-4">
    <button
      class="btn btn-secondary rounded-pill"
      routerLink="/dashboard-perfil/editar"
    >
      Editar Datos
    </button>

    <button class="btn btn-dark rounded-pill" (click)="logout()">Cerrar Sesion</button>
  </div>
</div>
