.container {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 40px auto;
  margin-top: 50px;
  border-radius: 40px;
  background: #dfe2e5;
  box-shadow: 5px 5px 5px #707274, -14px -9px 5px 5px #ffffff;
}

.imagen-portada {
  max-height: 410px;
  border-radius: 5px 5px 0 0;
}
.imagen-portada img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  border-radius: 30%;
}

.titulo {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-top: 24px;
}

.subtitulo {
  text-align: end;
  font-size: 15px;
  margin-top: 7px;
  letter-spacing: 3px;
}

.campos {
  margin-top: 55px;
}

.usuario,
.contraseña {
  border-radius: 25px;
  width: 90%;
  margin: 15px auto;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.form-select {
  border-radius: 25px;
  text-align: center;
  margin: 15px auto;
  width: 90%;
  padding: 13px;
  box-shadow: inset 2px 7px 20px 9px #adb5bd, inset 1px -6px 20px #adb5bd;
}
input {
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  margin: 13px 10px;
  border-bottom: 10px;
}

svg {
  height: 15px;
  /* margin: 2px 15px -5px 15px; */
}

.btn-guardar {
  display: block;
  object-fit: cover;
  margin-top: 25px;
  overflow: hidden;
  color: #fff;
  background: #9c1717;
  cursor: pointer;
  outline: none;
  border: #cbced1;
  border-radius: 18px;
  box-shadow: 10px 10px 20px #707274, -2px 0px 10px 4px #707274;
}

.btn-guardar:hover {
  background: #d60303;
}

.dropdown {
  overflow: visible !important;
}

.dropdown-menu-expand {
  max-height: 300px; /* Ajusta según sea necesario */
  overflow-y: auto; /* Scroll si hay muchos elementos */
  position: absolute;
  z-index: 1050; /* Asegura que esté encima de otros elementos */
  max-height: 300px; /* Ajusta la altura máxima del menú */
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1000px;
  }
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}
