<div class="container">
    <div class="login-div">
        <div class="logo"></div>
            <div class="titulo">GMJ Hogar</div>
            <div class="subtitulo">contendio</div>
            <div class="campos">
                <div class="usuario">
                    <input type="text" class="input-usuario" placeholder="Usuario">
                </div>
                <div class="contraseña">
                    <input type="password" class="input-pass" placeholder="contraseña">
                </div>
                <button class="boton">Guardar</button>
                <div class="link">
                    <a href="#">iniciar sesion</a>
                </div>
        </div>
    </div>
</div>
