<div class="card card-principal">
    <div class="card-header">
        Información Del Credito
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Saldo
                        En Mora</span>
                    <input type="text" class="form-control" disabled>
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Interes Mora</span>
                    <input type="text" class="form-control" disabled>
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Saldo Mora Total</span>
                    <span class="input-group-text ps-5 pe-5  flex-grow-1"></span>
                </div>

                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Valor Cuota</span>
                    <input type="number" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Saldo Capital
                        Total</span>
                    <input type="number" class="form-control" disabled>
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Honorarios</span>
                    <input type="number" class="form-control">
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Saldo Total</span>
                    <span class="input-group-text ps-5 pe-5 flex-grow-1"></span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text fw-bold">Cuotas</span>
                    <input type="text" class="form-control" disabled>
                    <input type="text" class="form-control" disabled>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Mora/Venc</span>
                    <input type="text" class="form-control" disabled>
                    <input type="text" class="form-control" disabled>
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Fecha Venc</span>
                    <input type="date" class="form-control">
                </div>
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text fw-bold">Sede</span>
                    <input type="text" class="form-control" disabled>
                    <input type="text" class="form-control" disabled>
                </div>
                <p class="alert alert-danger text-center font-alert">Crédito Vencido En Su Totalidad</p>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center text-center align-middle">
                    <div class="col-md-12">
                        <div class="row justify-content-center text-center align-middle">
                            <div class="col-md-12">
                                <button class="btn bg-red align-middle mt-4">Novedades</button>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-secondary align-middle mt-2" data-bs-toggle="modal"
                                    data-bs-target="#modalHistorico">Historico G</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-historico-ges></app-modal-historico-ges>