<div class="card" [ngClass]="{'card-principal': !btn, 'card-true': btn}">
    <div class="card-header">
        <h6 style="font-size: 14px; margin: 0;">Información Del Credito</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="" [ngClass]="{'col-md-6': !infoPersonal, 'col-md-12': infoPersonal}">
                <div *ngIf="!saldos" class="accordion" id="accordionInfo">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                (click)="infoPersonalAccordion()">
                                Información General
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionInfo">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-header card-pad card-font text-center">
                                                Responsables
                                            </div>
                                            <div class="card-body card-pad">
                                                <div class="row mt-2 mb-2">
                                                    <div class="col-md-8">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-text fw-bold">Cédula</span>
                                                            <input type="number" class="form-control" value="1000111222"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Juan Úsuga"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Titular"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-users"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-signature fa-sm"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-contract"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-8">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-text fw-bold">Cédula</span>
                                                            <input type="number" class="form-control" value="1000111222"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Juan Úsuga"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Titular"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-users"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-signature"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-contract"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-8">
                                                        <div class="input-group input-group-sm">
                                                            <span class="input-group-text fw-bold">Cédula</span>
                                                            <input type="number" class="form-control" value="1000111222"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Juan Úsuga"
                                                                disabled>
                                                            <input type="text" class="form-control" value="Titular"
                                                                disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-users"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-signature"></i></button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button class="btn btn-sm bg-red"><i
                                                                        class="fa-solid fa-file-contract"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header card-pad card-font text-center">
                                                Ubicación
                                            </div>
                                            <div class="card-body card-pad">
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Sede</span>
                                                    <input type="text" class="form-control" value="Electro">
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Vendedor</span>
                                                    <input type="text" class="form-control" value="Oscar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" [ngClass]="{'col-md-6': !saldos, 'col-md-12': saldos}">
                <div *ngIf="!infoPersonal" class="accordion" id="accordionSaldo">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"
                                (click)="saldosAccordion()">
                                Saldos
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSaldo">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header card-pad card-font text-center">
                                                Saldos Iniciales
                                            </div>
                                            <div class="card-body card-pad max-he">
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Nro Crédito</span>
                                                    <input type="text" class="form-control" value="10011122243589"
                                                        disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Valor Inicial</span>
                                                    <input type="text" class="form-control" value="4000000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Valor Cuota</span>
                                                    <input type="text" class="form-control" value="200000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Fecha Obligación</span>
                                                    <input type="date" class="form-control" value="01/05/2024" disabled>
                                                </div>

                                                <div class="input-group input-group-sm mt-4 mb-1">
                                                    <span class="input-group-text fw-bold">Total Cuotas</span>
                                                    <input type="number" class="form-control" value="20" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Fecha Ven Final</span>
                                                    <input type="date" class="form-control" value="09/01/2025" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header card-pad card-font text-center">
                                                Calculo Mora Obligación
                                            </div>
                                            <div class="card-body card-pad">
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Capital Vencido</span>
                                                    <input type="text" class="form-control" value="1000000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Interés Mora</span>
                                                    <input type="text" class="form-control" value="100000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Honorarios</span>
                                                    <input type="text" class="form-control" value="200000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Otros</span>
                                                    <input type="number" class="form-control" value="15000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Total Vencido</span>
                                                    <input type="number" class="form-control" value="1315000" disabled>
                                                </div>

                                                <div class="input-group input-group-sm mt-4 mb-1">
                                                    <span class="input-group-text fw-bold">Cuotas Mora</span>
                                                    <input type="number" class="form-control" value="5" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Fecha Inicio Mora</span>
                                                    <input type="date" class="form-control" value="11/05/2024" disabled>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header card-pad card-font text-center">
                                                Calculo Total Obligación
                                            </div>
                                            <div class="card-body card-pad">
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Capital Obligación</span>
                                                    <input type="text" class="form-control" value="2000000" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold disabled-input">Interés
                                                        Mora</span>
                                                    <input type="text" class="form-control disabled-input"
                                                        value="100000" readonly>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span
                                                        class="input-group-text fw-bold disabled-input">Honorarios</span>
                                                    <input type="text" class="form-control disabled-input"
                                                        value="200000" readonly>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold disabled-input">Otros</span>
                                                    <input type="number" class="form-control disabled-input"
                                                        value="15000" readonly>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Total Obligación</span>
                                                    <input type="number" class="form-control" value="1315000" disabled>
                                                </div>

                                                <div class="input-group input-group-sm mt-4 mb-1">
                                                    <span class="input-group-text fw-bold">Cuotas Pendientes</span>
                                                    <input type="number" class="form-control" value="5" disabled>
                                                </div>
                                                <div class="input-group input-group-sm mb-1">
                                                    <span class="input-group-text fw-bold">Fecha Ult. Cuota Ven</span>
                                                    <input type="date" class="form-control" value="11/05/2024" disabled>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group input-group-sm mt-1 mb-1">
            <span class="input-group-text fw-bold">Responsable</span>
            <select class="form-select">
                <option selected>Yeimar Fernando Sánchez</option>
                <option>Duván Diaz</option>
            </select>
        </div>
    </div>

    <app-modal-historico-ges></app-modal-historico-ges>
    <app-modal-referencia></app-modal-referencia>
    <app-offcanvas-novedades></app-offcanvas-novedades>