<div class="row text-center justify-content-center">
    <div class="col-md-6">
        <h5 class="titulo">Ingresar Un Nuevo Estado de Consignación</h5>
        <p>Ingrese un Estado de Consignacion, este valor indicara en que parte del proceso se encontrara una
            consignacion.</p>
        <input [(ngModel)]="estado.estado" name="estado" type="text" class="form-control" placeholder="Ingrese un Estado de Consignación">
        <div class="text-center">
            <button (click)="validateEstado()" class="btn btn-primary guardar">Guardar</button>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="table-responsive align-middle text-center">
            <table class="table table-bordered align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of estadoA; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ e.estado }}</td>
                        <td>
                            <button (click)="getEstadoById(e.idEstado)" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fa-solid fa-pen"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Estado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-12">
                        <input [(ngModel)]="modal.estado" name="estado" type="text" class="form-control text-center" placeholder="Ingrese un Estado">
                    </div>
                </div>
                <button (click)="updateEstado()" class="btn btn-success guardar mt-3">Actualizar</button>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>