<div class="container">
    <h1>Consultar Consignaciones</h1><br>
    <header>
        <div class="row">
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Sede</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col">
                <input type="date" class="form-control" placeholder="Fecha" aria-label="Fecha">
            </div>
            <div class="col">
                <input type="search" class="form-control" placeholder="Buscar" aria-label="buscador">
            </div>
        </div>
    </header><br><br>
    <div class="table-responsive"><table class="table caption-top">
        <thead>
            <tr>
                <th scope="col">Numero Recibo</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Valor</th>
                <th scope="col">Estado</th>
                <th scope="col">Sede</th>
                <th scope="col">Banco</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>11111</td>
                <td>Otto</td>
                <td>02/02/2002</td>
                <td>02/02/2002</td>
                <td>$ 100.000</td>
                <td>Activo</td>
                <td>Andes</td>
                <td>BBVA</td>
                <td>° | ¬ </td>
            </tr>
        </tbody>
    </table></div>
</div>
