<div class="container-fluid">
    <div class="sidebar">
        <ul>
            <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasNovedades"><i class="fa-solid fa-bell"></i></li>

            <li data-bs-toggle="modal" data-bs-target="#modalHistorico"><i class="fa-solid fa-list-check"></i></li>

            <li><i class="fa-solid fa-plus"></i></li>

            <li class="p-2" *ngIf="visibleButton"><button class="btn btn-sm btn-success btn-play" data-bs-toggle="modal"
                    data-bs-target="#modalAcuerdo"><i class="fa-solid fa-play"></i></button>
            </li>

        </ul>
    </div>
</div>