<div class="container">
    <header class="mt-5">
        <h1 class="titulo">Buscar Usuarios</h1>
    </header>
    <span>Ingresar el Nombre del Usuario Que deseas Buscar</span>
    <br><br>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form #FormRoles="ngForm">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-md-2 col-form-label mt-4">Cliente:</label>
                    <div class="col-md-10">
                        <input [(ngModel)]="cedula" type="text" class="form-control inputs" id="staticEmail" ngModel
                            name="cedula" (keyup.enter)="filtrarUsuarios()">
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="table-container">
                <table class="table">
                    <thead class="table table-dark">
                        <tr class="align-middle">
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Tipo Doc</th>
                            <th># Doc</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of usuario; let i = index" class="align-middle">
                            <th>{{ c.nombres }}</th>
                            <th>{{ c.apellidos }}</th>
                            <th>{{ c.tipo_documento }}</th>
                            <th>{{ c.numero_documento }}</th>
                            <td>
                                <button class="btn btn-info btn-sm me-3"><i class="fa-regular fa-eye"
                                        data-bs-toggle="modal"
                                        [attr.data-bs-target]="'#verDetallesModal' + i"></i></button>

                                <button *appRolesPerfiles="rolesArray[6]" (click)="eliminarUsuario(c.idUsuario)"
                                    class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>

    <!-- Modales para ver detalles -->
    <div class="modal fade" *ngFor="let c of usuario; let i = index" [id]="'verDetallesModal' + i" tabindex="-1"
        aria-labelledby="verDetallesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verDetallesModalLabel">Detalles del Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td><strong>Fecha Nacimiento:</strong></td>
                            <td>{{ c.fecha_nacimiento | date }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Teléfonos:</td>
                            <td>
                                <ul>
                                    <li *ngFor="let telefono of c.celular">{{ telefono }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Correos:</td>
                            <td>
                                <ul>
                                    <li *ngFor="let correo of c.email">{{ correo }}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>