<!-- Modal Historico Gestiones -->
<div class="modal fade" id="modalHistorico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Histórico Gestiones</h1>
                <!-- <button *ngIf="!modalGestiones" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <button *ngIf="modalGestiones" type="button" class="btn-close" data-bs-toggle="modal"
                    data-bs-target="#modalGestion"></button> -->
            </div>
            <div class="modal-body">
                <div class="table-responsive align-middle">
                    <table class="table table-bordered text-center table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Gestor</th>
                                <th scope="col">Fecha Gestión</th>
                                <th scope="col">Clasificación</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let g of gestiones | paginate: { itemsPerPage: 10, currentPage: pageGestion}; let i = index"
                                (click)="getOneGestion(g.idGestion)" data-bs-toggle="modal"
                                data-bs-target="#modalGestionCom" style="cursor: pointer;">
                                <th>{{ (pageGestion - 1) * 10 + i + 1 }}</th>
                                <td>{{ g.asesorCartera }}</td>
                                <td>{{ g.fechaGestion | dateFormat }}
                                </td>
                                <td>{{ g.clasificacion.nombresClasificacion.nombre }}</td>
                                <td>{{ g.clasificacion.isActive ? 'Activo':
                                    g.clasificacion.nombresClasificacion.tipo == "NOTA" ?'Sin Estado':'No Activo' }}
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="row">
                        <!-- <div class="col-md-8 offset-4">
                            <pagination-controls class="pagination" (pageChange)="pageGestion = $event;"
                                previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button *ngIf="!botonPdf && validarAcuerdoActivo()" class="btn b" (click)="descargarAcuerdo()"><i
                        class="fa-solid fa-download"></i>&nbsp;Generar Acuerdo</button>
                <a type="hidden" [href]="'data:application/pdf;base64,' + base64" id="basePdf"
                    style="display: none;"
                    [download]="clienteSelected.numeroDocumento + ' - ' + clienteSelected.nombreTitular"></a>

                <button *ngIf="botonPdf && validarAcuerdoActivo()" class="btn btn-danger b">
                    Descargando...
                    <span class="spinner-border spinner-border-sm float-right" role="status"
                        aria-hidden="true"></span>
                </button>

                <button *ngIf="!modalGestiones" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                <button *ngIf="modalGestiones" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#modalGestion">Cerrar</button>
            </div> -->
        </div>
    </div>
</div>