

.titulo{
    text-align: center;
    color: #000000;
}

.form-control{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 13px 10px;
    border-bottom: 10px;
}
.form-control{
    border-radius: 25px;
    text-align: center;
    width: 90%;
    padding: 15px;
    margin: 15px auto;
    background: #ecf0f3;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;

}

.form-select{
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.container{
    text-align: center;
    background: rgb(255, 255, 255);
    color: #000;
    width: 400px auto;
    height: 400px auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 9px 60px 0 rgb(0 0 0 / 30%);
}

.b{
    color: white;
    background-color: #960010;
    border-color: #960010;
  }
  
  .b:hover{
    background: #d40000;
    border-color: #d40000;
  }