<div class="container">
    <header><h1 class="titulo">Gestion de Usuarios</h1></header>
    <table class="tabla" >
        <thead  class="datos">
            
                <div class="col-sm-6">
                    <div class="buscador">
                        <input class="campos" type="search" placeholder="Buscar" >
                    </div>
                </div>

        </thead>
        <tr class="colum">
            <td>Andres Camilo torrez</td>

            <td>
                <button class="roles" ><a routerLink="/dashboard-administracion/rolesUsuario/1" >Gestionar Roles y Permisos</a></button>
            </td>
        </tr>
    </table>
</div>