<div class="container">
  <div class="row">
    <div class="col">
      <div class="wrapper">
        <div id="formContent">
          <div class="fadeIn first">
            <img
              src="../../assets/logo-Principal.png"
              id="icon"
              alt="User Icon"
            />
            <b>
              <h1>Iniciar sesión</h1>
            </b>
          </div>
          <!-- Login Form -->
          <form (ngSubmit)="iniciarSesion()">
            <div class="usuario">
              <i class="fa-solid fa-user icon"></i>

              <input
                type="text"
                id="login"
                class="fadeIn second"
                name="username"
                placeholder="Usuario"
                [(ngModel)]="jwtRequest.username"
              />
            </div>
            <div class="contrasena">
              <i class="fa-solid fa-key icon"></i>
              <input
                type="password"
                id="password"
                class="fadeIn third"
                name="password"
                placeholder="Contraseña"
                [(ngModel)]="jwtRequest.password"
              />
            </div>
            <input *ngIf="!inicioSesion" type="submit" value="Entrar" />
            <button *ngIf="inicioSesion" class="btn-login">
              Entrando...
              <span
                class="spinner-border spinner-border-sm float-right"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
