<div class="container">
    <header class="mt-5">
        <h1 class="titulo">Buscar Clientes</h1>
    </header>
    <span>Ingresar el Nombre del Cliente Que deseas Buscar</span>
    <br><br>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form #FormRoles="ngForm">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-md-2 col-form-label mt-4">Cliente:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control inputs" id="staticEmail" value="" ngModel name="role">
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card-container">
                    <div class="row">
                        <div class="col-md-4 mb-4" *ngFor="let c of cliente; let i = index">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ c.nombres }} {{ c.apellidos }}</h5>
                                    <p class="card-text"><strong>Tipo Documento:</strong> {{ c.tipoDocumento }}</p>
                                    <p class="card-text"><strong>Número Documento:</strong> {{ c.numeroDocumento }}</p>
                                    <p class="card-text"><strong>Fecha Nacimiento:</strong> {{ c.fechaNacimiento | date }}</p>
                                    <p class="card-text"><strong>Lugar De Nacimiento:</strong> {{ c.lugarNacimiento }}</p><p class="card-text"><strong>Fecha Exp Doc:</strong> {{ c.fechaExpedicionDocumento }}</p>
                                    <p class="card-text"><strong>Lugar De Exp:</strong> {{ c.lugarExpedicionDocumento }}</p>
                                    <p class="card-text"><strong>Teléfono:</strong> {{ c.telefonos[0].indicativo + ' ' + c.telefonos[0].numero }}</p>
                                    <p class="card-text"><strong>Direccion:</strong> {{ c.direcciones[0].direccion + ' ' + c.direcciones[0].pais + ', ' + c.direcciones[0].departamento + '-' + c.direcciones[0].ciudad }}</p>
                                    <p class="card-text"><strong>Correo:</strong> {{ c.correosElectronicos[0].email }}</p>

                                    <div class="accordion" [attr.id]="'accordionExample' + i">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseThree' + i" aria-expanded="false" [attr.aria-controls]="'collapseThree' + i">
                                                    Ver Todos Los Datos
                                                </button>
                                            </h2>
                                            <div [attr.id]="'collapseThree' + i" class="accordion-collapse collapse" [attr.data-bs-parent]="'#accordionExample' + i">
                                                <div class="accordion-body">
                                                    <h6>Teléfonos:</h6>
                                                <ul>
                                                    <li *ngFor="let telefono of c.telefonos">{{ telefono.indicativo }} {{ telefono.numero }}</li>
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="table-container">
                <table class="table">
                    <thead class="table table-dark">

                        <tr class="align-middle">
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Tipo Doc</th>
                            <th># Doc</th>
                            <!-- <th>Fecha Nacimiento</th>
                            <th>Lugar Nacimiento</th>
                            <th>Fecha Expedicion Doc</th>
                            <th>Lugar Expedicion Doc</th>
                            <th>Teléfono</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Tipo Cliente</th>
                            <th>Referencias Comerciales</th>
                            <th>Referencias Personales</th>
                            <th>Referencias Familiares</th> -->

                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tipo Doc</th>
                            <th># Doc</th>
                            <th>Direccion</th>
                            <th>Teléfono</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th>Alejandro</th>
                            <th>Franco</th>
                            <th>C.C</th>
                            <th>1002345684</th>
                            <th>Cra 56 #34-51</th>
                            <th>302361245</th>
                            <td><button class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        </tr>
                    </tbody>
    
                </table>
            </div>

        </div>
    </div>

    <!-- Modales para ver detalles -->
    <div class="modal fade" *ngFor="let c of cliente; let i = index" [id]="'verDetallesModal' + i" tabindex="-1"
        aria-labelledby="verDetallesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verDetallesModalLabel">Detalles del Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="card-text"><strong>Fecha Nacimiento:</strong> {{ c.fechaNacimiento | date }}</p>
                    <p class="card-text"><strong>Lugar De Nacimiento:</strong> {{ c.lugarNacimiento }}</p>
                    <p class="card-text"><strong>Fecha Exp Doc:</strong> {{ c.fechaExpedicionDocumento }}</p>
                    <p class="card-text"><strong>Lugar De Exp:</strong> {{ c.lugarExpedicionDocumento }}</p>
                    <h6 class="fw-bold">Teléfonos:</h6>
                    <ul>
                        <p *ngFor="let telefono of c.telefonos">{{ telefono.indicativo }} {{ telefono.numero }}</p>
                    </ul>
                    <h6 class="fw-bold">Direcciones:</h6>
                    <ul>
                        <p *ngFor="let direccion of c.direcciones">{{ direccion.direccion + ' ' + direccion.pais + ', ' + direccion.departamento + ' - ' + direccion.ciudad }}</p>
                    </ul>
                    <h6 class="fw-bold">Correos:</h6>
                    <ul>
                        <p *ngFor="let correo of c.correosElectronicos">{{ correo.email }}</p>
                    </ul>
                    <h6 class="fw-bold">Referencias Comerciales:</h6>
                    <ul>
                        <p *ngFor="let r of c.referenciasComerciales">{{ r.nombreCompleto }} <br> {{ r.telefono }}</p>
                    </ul>

                    <h6 class="fw-bold">Referencias Personales:</h6>
                    <ul>
                        <p *ngFor="let r of c.referenciasPersonales">{{ r.nombreCompleto }} <br> {{ r.telefono }}</p>
                    </ul>

                    <h6 class="fw-bold">Referencias Familiares:</h6>
                    <ul>
                        <p *ngFor="let r of c.referenciasFamiliares">{{ r.nombreCompleto }} <br> {{ r.telefono }}</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>