<div *ngIf="!rol" class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
    <div class="titulo">Agregar Usuarios</div>
    <div class="subtitulo">Ingresar los datos del Nuevo Usuario</div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <label for="text">Username</label>
            <div class="usuario">
                <i class="fa-solid fa-user-secret"></i>
                <input type="text" class="input-usuario input1" placeholder="Username">
            </div>
            <label for="text">Contraseña</label>
            <div class="usuario">
                <i class="fa-solid fa-key"></i>
                <input type="password" class="input-usuario input1" placeholder="Contraseña">
            </div>
        </div>

        
        <div class="col-md-6">
            <label for="text">Nombre</label>
            <div class="usuario">
                <i class="fa-solid fa-signature"></i>
                <input type="text" class="input-usuario input1" placeholder="Nombre">
            </div>
                <label for="text">Apellido</label>
                <div class="usuario">
                    <i class="fa-solid fa-signature"></i>
                    <input type="text" class="input-usuario input1" placeholder="Apellido">
                </div>
        </div>

        
    </div>


    <div class="row align-items-start">
        <div class="col">
            <label for="select">Seleccione su Tipo de Documento</label>
            <div class="selecionar">
                <select class="form-select">
                    <option selected>Opciones</option>
                    <option value="1">Cedula de Ciudadania</option>
                    <option value="2">Cedula de Extranjeria</option>
                </select>
            </div>
        </div>
        <div class="col">
            <label for="text">N° Documento</label>
            <div class="usuario">
                <i class="fa-solid fa-address-card"></i>
                <input type="text" class="input-pass input1" placeholder="Documento">
            </div>
        </div>


    </div>

    <div class="row align-items-center">
        <div class="col">
            <label for="email">Correo</label>
            <div class="usuario">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" class="input-usuario input1" placeholder="Correo">
            </div>
        </div>
        <div class="col">
            <label for="number">Telefono</label>
            <div class="usuario">
                <i class="fa-solid fa-phone"></i>
                <input type="number" class="input-usuario input1" placeholder="Telefono Celular">
            </div>
        </div>

    </div>

    <div class="row align-items-center">
        <div class="col">
            <label for="email">Fecha</label>
            <div class="usuario">
                <input type="date" class="input-usuario input1">
            </div>
        </div>
    </div>

    <button (click) = "gestionRoles()" class="btn-guardar">Gestionar Roles</button>
</div>


<div *ngIf="rol" class="container">
    <header>
        <h1 class="titulo">Permisos Generales</h1>
    </header>

 
    <table class="table">
        <tbody>
            <tr>
                <th scope="text">Cartera</th>
                <td>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Activar Rol</label>
                        <input  class="form-check-input input" type="checkbox" name="cartera" [checked]="false"
                            [(ngModel)]="validar.cartera">
                    </div>
                </td>
                <input  name="p2" [(ngModel)]="select.cartera" (change)="validarCheck('cartera')" [checked]="false"   class="form-check-input input" name="seleccionarTodos" id="option-all" type="checkbox" >
                <label class="form-check-label" for="option-all">Seleccionar Todos los Permisos</label>
            </tr>

            <tr *ngIf="validar.cartera">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-check">
                            <input  class="form-check-input" name="p1"  [(ngModel)]="objectGeneral.cartera.p1" [checked]="false" type="checkbox" value="" id="option-a">
                            <label class="form-check-label"  for="option-a">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p2" [(ngModel)]="objectGeneral.cartera.p2" [checked]="false" type="checkbox" value="" id="option-b">
                            <label class="form-check-label" for="option-b">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p3" [(ngModel)]="objectGeneral.cartera.p3" [checked]="false" type="checkbox" value="" id="option-c">
                            <label class="form-check-label" for="option-c">Default</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input"  name="p4" [(ngModel)]="objectGeneral.cartera.p4" [checked]="false" type="checkbox" value="" id="option-d">
                            <label class="form-check-label" for="option-d">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p5" [(ngModel)]="objectGeneral.cartera.p5" [checked]="false" type="checkbox" value="" id="option-e">
                            <label class="form-check-label" for="option-e">Default</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  name="p6" [(ngModel)]="objectGeneral.cartera.p6" [checked]="false" type="checkbox" value="" id="option-f">
                            <label class="form-check-label" for="option-f">Default</label>
                        </div>
                    </div>
                </div>
            </tr>


            

        </tbody>
    </table>
    <button class="btn-guardar">Guardar</button>
</div>

