
<div class="boton-modal">
    <label for="btn-modal">
        Abrir Modal
    </label>
</div>


<input type="checkbox" id="btn-modal">
<div class="container-modal">
    <div class="content-modal">
        <div class="wrapper fadeInDown">
        
                <div class="fadeIn first">
                    <img src="../../assets/logo-Principal.png" id="icon" alt="User Icon" />
                </div>
                <h6>Datos del perfil</h6>
                <div class="caja">
                    <li class="option">
                        <span>Puntaje: </span>
                            <span>A</span>
                    </li>
                    <li class="option">
                            <i class="fas fa-money-check-alt"></i>
                            <span>1000413089</span>
                    </li>
                </div>
                <form>
                    <input type="text" class="fadeIn second" name="name" placeholder="Nombre">
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Correo">
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Fecha primera cuota">
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Dinero abonado">

                </form>
            
        </div> 
        <div class="btn-cerrar">
            <label for="btn-modal">Cerrar</label>
        </div>
    </div>
    <label for="btn-modal" class="cerrar-modal"></label>
</div>



