<!-- <nav class="nav">

    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
        aria-controls="offcanvasWithBackdrop"><i class="fa-solid fa-bars"
            style="height: 40px;width: 30px;color: black;"></i></button>
    <a href=""><img src="../../../assets/logo.png" alt="" srcset="" width="180px" height="170px" class="logo"></a>
    <div class="input-wrapper">
        <input type="search" class="search">
        <i class="fa-solid fa-magnifying-glass input-icon"></i>
    </div>
    <div class="dropdown">
        <a class="noti" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell" style="height: 40px;width: 20px;"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="option dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/perfil.png" alt="" srcset="" style="width: 40;height: 60px;" class="perfil">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
</nav> -->

<!-- <div class="row d-none d-sm-none d-md-block">
    <nav class="navbar navbar-expand-lg d nav">

        <div class="row">
            <div class="col-md-2">
                <button class="btn me-5" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                        class="fa-solid fa-bars" style="height: 40px;width: 30px;color: black;"></i></button>
            </div>
            <div class="col-md-3 ms-5">
                <a [routerLink]="'/opciones'"><img src="../../../assets/H_electro.svg" alt="" srcset="" width="180px"
                        height="170px"></a>

            </div>
            <div class="col-md-4">
                <div class="input-wrapper">
                    <input type="search" class="search">
                    <i class="fa-solid fa-magnifying-glass input-icon"></i>
                </div>
            </div>
            <div class="col-md-1 ">
                <div class="dropdown">
                    <a class="noti" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-bell" style="height: 40px;width: 20px;"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 ms-3">
                <div class="dropdown">
                    <a class="option dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user-alt perfil" id="persona"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </nav>
</div> -->

<div class="row d-md-block">
    <!-- Original Navbar (always visible) -->
    <nav class="navbar navbar-expand-lg d nav">
        <div class="container-fluid">
            <div class="d-flex align-items-center"> <!-- Contenedor para elementos visibles en pantallas grandes -->
                <button class="btn me-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i
                            class="fa-solid fa-bars" style="height: 40px;width: 30px;color: black;"></i></button>
                <a [routerLink]="'/opciones'">
                    <img src="../../../assets/H_electro.svg" alt="" srcset="" width="180px" height="170px"
                        class="d-none d-lg-block ms-5 me-5"> <!-- La imagen solo se muestra en pantallas grandes (lg o mayores) -->
                </a>
    
                <form class="d-none d-md-flex ms-auto flex-grow-1"> <!-- Agregamos la clase flex-grow-1 -->
                    <input type="search" class="search form-control me-5" placeholder="Buscar">
                </form>
    
                <!-- Notificaciones -->
                <div class="dropdown ms-3 flex-shrink-0"> <!-- Agregamos la clase flex-shrink-0 -->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-bell noti" style="height: 40px; width: 20px;"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
    
                <!-- Perfil -->
                <div class="dropdown ms-3 flex-shrink-0"> <!-- Agregamos la clase flex-shrink-0 -->
                    <a class="nav-link dropdown-toggle option " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user-alt" id="persona"></i>
                    </a>
    
                    <ul class="dropdown-menu p-user ">
                        <li ><a class="dropdown-item hover-lista" [routerLink]="'/perfil'"><i class="fa-regular fa-user"></i>&nbsp; Perfil</a></li>
                        <li><a class="dropdown-item hover-lista" [routerLink]="'/dashboard-perfil/configuracion-perfil'"><i class="fa-solid fa-lock"></i>&nbsp; Seguridad</a></li>
                        <li><hr class="dropdown-divider"></li>
    
                        
                        <li><a class="dropdown-item hover-lista" (click) = "logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br>
    
    </div>