<nav class="nav">

    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
        aria-controls="offcanvasWithBackdrop"><i class="fa-solid fa-bars"
            style="height: 40px;width: 30px;color: black;"></i></button>
    <a href=""><img src="../../../assets/logo.png" alt="" srcset="" width="180px" height="170px" class="logo"></a>
    <div class="input-wrapper">
        <input type="search" class="search">
        <i class="fa-solid fa-magnifying-glass input-icon"></i>
    </div>
    <div class="dropdown">
        <a class="noti" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell" style="height: 40px;width: 20px;"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="option dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/perfil.png" alt="" srcset="" style="width: 40;height: 60px;" class="perfil">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
</nav>