
<div class="offcanvas offcanvas-start size bg" tabindex="-1" id="offcanvasWithBackdrop"
aria-labelledby="offcanvasWithBackdropLabel">
<div class="offcanvas-header ">
    <i class="fas fa-user mr30" style="color: white; height: 70px; width: 50px;"></i>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        style="background-color: white;"></button>

</div>
<h2 style="color: white; font-size: 1.2em;font-weight: bold;" class="text-center">Creditos</h2>
<hr style="color: white;">
<ul class="nav flex-column ">

    <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="false"><i class="fas fa-sort-down"></i>&nbsp;
            Analizar
        </button>

        <div class="collapse" id="getting-started-collapse">
            <ul class="list-unstyled fw-normal pb-1 small">
                <li> <button class="nav-link active" aria-current="page" routerLink="/dashboard-creditos/ver-creditos"><i class="fas fa-eye"></i>&nbsp; Ver Creditos</button></li>
            </ul>
        </div>
    </li>



    <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse-r" aria-expanded="false"><i class="fas fa-sort-down"></i>&nbsp;
            Creación
        </button>

        <div class="collapse" id="getting-started-collapse-r">
            <ul class="list-unstyled fw-normal pb-1 small">
                <li><button class="nav-link active" aria-current="page" routerLink="/dashboard-creditos/creditos-creados"><i class="far fa-file-alt"></i>&nbsp; Crear credito</button></li>
            </ul>
        </div>
    </li>
</ul>
<hr style="color: white;">
    <ul class="nav flex-column ">

        <li class="nav-item">
            <button (click) = "logout()" class="nav-link active" aria-current="page"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</button>
        </li>
    </ul>
<hr style="color: white;">
</div>
