<div
  class="cardStyle container d-flex flex-column justify-content-center w-50 px-5 py-3 mb-5"
>
  <h2 class="text-center">Crear vendedor</h2>
  <hr class="border-4" />

  <form
    class="d-flex flex-column gap-2 w-75 mx-auto"
    (ngSubmit)="onFormSubmit()"
  >
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <div class="d-flex flex-column">
          <input
            [(ngModel)]="vendedor.nombreVendedor"
            name="nombreVendedor"
            class="form-control text-center"
            type="text"
            placeholder="Nombre del vendedor"
          />
        </div>
      </div>

      <div class="col-md-12 col-12">
        <div class="d-flex flex-column">
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecione una zona</option>
            <option *ngFor="let zona of vendedor.nombreZona" value="{{zona}}">{{zona}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <button
        class="btn mx-auto w-25 btn-dark rounded-pill b"
        (click)="onVolver()"
      >
        Cancelar
      </button>

      <button type="submit" class="btn mx-auto w-25 btn-dark rounded-pill b">
        Crear
      </button>
    </div>
  </form>
</div>
