
<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
        <div class="titulo">GMJ Hogar</div>
        <div class="subtitulo"> Evidencia de Observaciones</div>

                <div class="row align-items-start">
                    <div class="col-md-6 col-12">
                        <strong><label for="select">Sede:</label></strong>
                        <div class="selecionar">
                            <select class="form-select">
                                    <option selected>Opciones</option>
                                    <option value="1">Electro Hogar</option>
                                    <option value="2">Electro Hogar1</option>
                            </select>
                        </div>
                    </div>
                        <div class="col-md-6 col-12">
                            <strong><label for="date">Fecha:</label></strong>
                            <div class="fecha">
                                <input type="date" class="form-control usuario"  placeholder="Fecha" aria-label="Fecha">
                            </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-6 col-12">
                        <div>
                            <label for="formFile" class="form-label"><strong>Archivo:</strong></label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                    </div>

                <div class="col-md-6 col-12">
                <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
                <textarea class="form-control usuario" id="exampleFormControlTextarea1" name="observaciones" value="true" rows="1" placeholder="Observacion" ></textarea>
                </div>
                </div>

                <button class="boton">Guardar</button>
</div>



