.card-custom {
  background: #dfe2e5;
}

.imagen-portada {
  max-height: 410px;
  border-radius: 5px 5px 0 0;
}

.text-red {
  color: #9c1717;
}

.custom-icon {
  cursor: pointer;
  font-size: 50px;
}

.imagen-portada img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  border-radius: 30%;
}

.campos {
  margin-top: 55px;
}

.usuario,
.file {
  border-radius: 25px;
  text-align: center;
  margin: 10px auto;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.input-usuario {
  border: none;
  text-align: center;
  outline: none;
  background: none;
  font-size: 15px;
  margin: 13px auto;
  border-bottom: 10px;
  max-width: 300px;
}

.file {
  border-radius: 25px;
  text-align: center;
  width: 90%;
  margin: 10px auto;
  background: #ecf0f3;
}

.form-select {
  border-radius: 25px;
  text-align: center;
  margin: 15px auto;
  padding: 10px;
  box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.btn-consultar {
  color: #fff;
  background: #9c1717;
  transition: all 0.2s;
}

.btn-reintentar {
  color: #fff;
  background: #9c1717;
  transition: all 0.2s;
}

.boton {
  overflow: hidden;
  box-shadow: 2px 2px 2px #707274, -2px 0px 2px 0px #707274;
  transition: all 0.2s;
}

.boton,
.btn-consultar:hover {
  background: #d60303;
}

.b {
  color: white;
  background-color: #960010;
  border-color: #960010;
}

.b:hover {
  background: #d40000;
  border-radius: #d40000;
  cursor: pointer;
}

.border-dotted {
  border-style: dashed !important;
  cursor: pointer;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.drop-zone.dragover {
  border-color:#007bff;
  background-color: #f0f8ff;
}