<div class="container-fluid d-flex flex-column">
  <!-- CONFIRMACIÓN  -->
  <div
    class="row d-flex justify-content-center text-center mt-4"
    *ngIf="!confirmarComenzar"
  >
    <div class="col-md-6 rounded-4">
      <div class="card rounded-4">
        <div class="card-body card-custom rounded-4">
          <h4 class="fw-bold">Subir archivos de cliente</h4>
          <h5>
            A continuación, deberá subir los archivos en el orden que se le
            indiquen.
          </h5>
          <button
            (click)="onContinuar()"
            class="btn btn-consultar mt-3 rounded-pill"
          >
            Comenzar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- progreso y carga de archivos -->
  <div
    class="row d-flex flex-column w-50 w-xs-75 w-sm-75 mx-auto mt-4 mt-sm-0 mt-md-0 mt-lg-0 mt-xll-5"
    *ngIf="confirmarComenzar"
  >
    <!--Proggres-->
    <div
      class="progress mb-4 w-xl-100 w-sm-75 mx-auto px-0"
      role="progressbar"
      [attr.aria-valuenow]="widthProgress"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        [style]="{
          width: widthProgress + '%',
          'background-color': background_color
        }"
      >
        {{ widthProgress | number : "1.0-0" }}%
      </div>
    </div>

    <!-- Seleccion de archivos  -->
    <div class="col-12 mb-2 mx-auto px-0 rounded-4">
      <div class="card card-custom rounded-4">
        <div class="card-body">
          <div class="col-md-12 col-12">
            <!-- Seleccion de tipo de archivo -->
            <select
              [(ngModel)]="tipoArchivo"
              name="tipoArchivo"
              class="form-select w-75 w-md-50 mt-1"
              [disabled]="archivosSubidos.length > 0"
            >
              <option *ngIf="isMediumScreen" value="" disabled selected>
                Seleccionar el tipo de archivo
              </option>

              <option *ngIf="!isMediumScreen" value="" disabled selected>
                Seleccionar
              </option>

              <option
                *ngFor="let tipoArc of tiposArchivos"
                value="{{ tipoArc }}"
              >
                {{ tipoArc }}
              </option>
            </select>

            <div class="row text-center d-flex justify-content-center">
              <!-- Botón para seleccionar archivos // arrastrar y soltar -->
              <div
                class="drop-zone col-12 col-md-6 w-50 border-danger-subtle border-2 p-3 my-2 rounded-4"
                [ngClass]="{
                  'w-75': cantidadArchivos > 0,
                  'col-6': cantidadArchivos == 0,
                  'col-12': cantidadArchivos > 0
                }"
                (click)="ontriggerFileInput('fileInput')"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
                [class.dragover]="isDragging"
              >
                <h6 class="fw-bold text-red">Seleccionar archivos</h6>
                <span>
                  <i class="fa-solid fa-folder-open custom-icon"></i>
                </span>
                <input
                  *ngIf="archivosSubidos.length == 0"
                  #fileInput
                  type="file"
                  accept="application/pdf"
                  id="fileInput"
                  class="d-none"
                  (change)="obtenerFile($event)"
                  multiple
                />
                <input
                  *ngIf="archivosSubidos.length == 0"
                  #fileInput
                  type="file"
                  accept="image/*"
                  id="fileInput"
                  class="d-none"
                  (change)="obtenerFile($event)"
                  multiple
                />
                <h6 class="fw-bold mt-3" *ngIf="archivosSubidos.length > 0">
                  <strong
                    *ngFor="let archivoSub of archivosSubidos; let i = index"
                  >
                    {{ archivoSub.tituloArchivo }}
                    <i
                      *ngIf="archivoSub.subidoBoolean"
                      class="fa-solid fa-check text-success"
                    ></i
                    ><i
                      *ngIf="!archivoSub.subidoBoolean"
                      class="fa-solid fa-xmark fa-beat"
                      [style]="{ color: background_color }"
                    ></i
                    ><br
                  /></strong>

                  <hr class="w-50 mx-auto" />
                  {{ cantidadArchivos }} Archivo(s) seleccionado(s)
                </h6>
              </div>
            </div>

            <!-- Botones de acciones -->
            <div class="row mb-3 mt-2">
              <div
                class="col-md-12 text-center d-flex justify-content-center gap-2 gap-md-2 flex-wrap"
              >
                <button
                  (click)="onCancelarCargarArchivos()"
                  class="btn rounded-pill btn-secondary px-4 mb-2 mb-md-0"
                  [disabled]="archivosSubidos.length == 0"
                >
                  <p class="mb-0">Cancelar</p>
                </button>

                <button
                  class="btn rounded-pill b px-4 mb-2 mb-md-0"
                  data-bs-toggle="modal"
                  data-bs-target="#verArchivosModal"
                  [disabled]="disabledVer"
                >
                  <p *ngIf="isMediumScreen" class="mb-0">Ver archivos</p>
                  <p *ngIf="!isMediumScreen" class="mb-0">Archivos</p>
                </button>

                <button
                  (click)="cargarArchivos()"
                  class="btn rounded-pill b px-4 mb-2 mb-md-0"
                  [disabled]="disabledCargar"
                >
                  <p *ngIf="isMediumScreen" class="mb-0">Subir archivo</p>
                  <p *ngIf="!isMediumScreen" class="mb-0">Subir</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de guardar y volver -->
      <div class="row mb-3 mt-2">
        <div
          class="col-md-12 text-center d-flex justify-content-center gap-1 gap-sm-4 gap-md-4 flex-wrap"
        >
          <button
            (click)="onCancelarVolver()"
            class="btn rounded-pill btn-secondary px-4 mb-2 mb-md-0"
          >
            Volver
          </button>
          <button
            (click)="onGuardar()"
            class="btn rounded-pill b px-4 mb-2 mb-md-0"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para ver archivos -->
  <div
    class="modal fade"
    id="verArchivosModal"
    tabindex="-1"
    aria-labelledby="verArchivosModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content rounded-5">
        <div class="modal-header mb-3 d-flex">
          <h5 class="modal-title mx-auto" id="verArchivosModalLabel">
            Archivos Seleccionados
          </h5>
          <button
            type="button"
            class="btn-close ms-0 ps-0 pe-2"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div *ngIf="miniaturaVerArchivos?.length > 0; else noArchivos">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner px-4">
              <div
                *ngFor="
                  let archivoMiniatura of miniaturaVerArchivos;
                  let i = index
                "
              >
                <div
                  *ngFor="
                    let archiMiniatura of archivoMiniatura.base46;
                    let iMini = index
                  "
                  class="carousel-item"
                  [ngClass]="{ active: isActive(i, iMini) }"
                >
                  <div class="px-3 pb-2">
                    <p *ngIf="archivoMiniatura.base46.length > 1">
                      TIPO ARCHIVO: {{ archivoMiniatura.tipoArchivo }}
                      <strong class="text-red">({{ iMini + 1 }})</strong>
                    </p>
                    <p *ngIf="archivoMiniatura.base46.length == 1">
                      TIPO ARCHIVO: {{ archivoMiniatura.tipoArchivo }}
                    </p>
                  </div>
                  <embed
                    *ngIf="archivoMiniatura.base46[iMini]"
                    [src]="archivoMiniatura.base46[iMini]"
                    height="300"
                    class="w-100 d-block"
                  />
                  <div class="text-center w-100 mt-2">
                    <button
                      (click)="
                        eliminarArchivos(archivoMiniatura.tipoArchivo, iMini)
                      "
                      class="btn b rounded-pill px-4"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex w-100 text-center my-3 gap-3">
              <button
                class="btn b rounded-pill py-0 d-flex ms-auto"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon my-auto"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden d-none">Previous</span>
              </button>
              <button
                class="btn b rounded-pill me-auto py-0 d-flex"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon my-auto"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <ng-template #noArchivos>
          <span class="mb-3">
            <h5 class="text-center">No hay archivos cargados.</h5>
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
