<div class="container-fluid mt-3">
  <!-- CONFIRMACIÓN  -->
  <div
    class="row d-flex justify-content-center text-center"
    *ngIf="!confirmarComenzar"
  >
    <div class="col-md-6 rounded-4">
      <div class="card rounded-4">
        <div class="card-body card-custom rounded-4">
          <h4 class="fw-bold">Subir archivos de cliente</h4>
          <h5>
            A continuación, deberá subir los archivos en el orden que se le
            indiquen.
          </h5>
          <button
            (click)="onSubirArchivos()"
            class="btn btn-consultar mt-3 rounded-pill"
          >
            Comenzar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex flex-column" *ngIf="confirmarComenzar">
    <!--Proggres-->
    <div
      class="progress mt-2 mb-4 w-50 mx-auto px-0"
      role="progressbar"
      aria-label="Example with label"
      [attr.aria-valuenow]="widthProgress"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        [style]="{
          width: widthProgress + '%',
          'background-color': background_color
        }"
      >
        {{ widthProgress | number : "1.0-0" }}%
      </div>
    </div>

    <!-- Cards Archivos  -->
    <div class="col-md-6 mb-2 mx-auto px-0 rounded-4">
      <div class="card card-custom rounded-4">
        <div class="card-body">
          <div class="col-md-12 col-12">
            <select
              [(ngModel)]="tipoArchivo"
              name="tipoArchivo"
              class="form-select w-50 mt-3"
              [disabled]="disabledSelect"
            >
              <option value="" disabled selected>
                Seleccionar el tipo de archivo
              </option>
              <option
                *ngFor="let tipoArc of tiposArchivos"
                value="{{ tipoArc }}"
              >
                {{ tipoArc }}
              </option>
            </select>

            <div class="row text-center d-flex">
              <!-- Botón para tomar foto -->
              <div class="col-md-6 col-6 w-50" *ngIf="cantidadArchivos == 0">
                <h6 class="fw-bold text-red">Tomar foto</h6>
                <span (click)="triggerFileInput('cameraInput')">
                  <i class="fa-solid fa-camera custom-icon"></i>
                </span>
                <input
                  #cameraInput
                  type="file"
                  accept="image/*"
                  capture="environment"
                  style="display: none"
                  (change)="obtenerFile($event)"
                />
              </div>

              <!-- Botón para seleccionar archivos -->
              <div
                class="col-md-6 w-50"
                [ngClass]="{
                  'col-6': cantidadArchivos == 0,
                  'col-12': cantidadArchivos > 0
                }"
              >
                <h6 class="fw-bold text-red">Seleccionar archivos</h6>
                <span (click)="triggerFileInput('fileInput')">
                  <i class="fa-solid fa-folder-open custom-icon"></i>
                </span>
                <input
                  #fileInput
                  type="file"
                  accept="image/*"
                  style="display: none"
                  (change)="obtenerFile($event)"
                />
                <h6 class="fw-bold mt-3" *ngIf="cantidadArchivos > 0">
                  {{ cantidadArchivos }} Archivo(s) Seleccionado(s)
                </h6>
              </div>
            </div>

            <div class="row mt-3 mb-2 d-flex justify-content-center">
              <div class="d-flex w-25 px-0">
                <button
                  class="btn btn-secondary rounded-pill w-75 px-0 mx-auto"
                  (click)="cancelarArchivos()"
                  [disabled]="disabledCargar"
                >
                  Cancelar
                </button>
              </div>

              <div class="d-flex w-25 px-0">
                <button
                  class="btn btn-reintentar rounded-pill w-75 px-0 mx-auto"
                  data-bs-toggle="modal"
                  data-bs-target="#verArchivosModal"
                  [disabled]="disabledVer"
                >
                  Ver archivos
                </button>
              </div>

              <div class="w-25 px-0 d-flex">
                <button
                  class="btn btn-consultar rounded-pill w-75 px-0 mx-auto"
                  (click)="cargarArchivos()"
                  [disabled]="disabledCargar"
                >
                  Cargar archivo
                </button>
              </div>
            </div>

            <input
              type="file"
              accept="application/pdf"
              #fileInput
              id="fileInput"
              class="d-none"
              (change)="obtenerFile($event)"
              multiple
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-md-12 text-center d-flex justify-content-center gap-4">
        <button (click)="onSave()" class="btn btn rounded-pill b">
          Guardar
        </button>
        <button (click)="onCancelarVolver()" class="btn rounded-pill b">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="verArchivosModal"
  tabindex="-1"
  aria-labelledby="verArchivosModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verArchivosModalLabel">
          Archivos Seleccionados
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div
          *ngFor="let archivo of archivosCargados; let i = index"
          class="mb-3"
        >
          <div class="card">
            <div class="card-body">
              <h6>TIPO ARCHIVO: {{ archivo.tipoArchivo }}</h6>
              <embed
                *ngIf="archivo.base64 != ''"
                type="application/pdf"
                [src]="archivo.base64"
                height="300px"
                style="width: 100%"
              />
              <div class="text-center mt-3">
                <button
                  (click)="eliminarArchivos(archivo.tipoArchivo)"
                  class="btn btn-danger"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
        <span *ngIf="archivosCargados?.length == 0">
          <h5 class="text-center">No hay archivos cargados.</h5>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
