.container-t{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    margin-top: 70px;
    border-radius: 40px;
    background: #dfe2e5;
    box-shadow: 5px 5px 5px #707274, -14px -9px 5px 5px #ffffff;
}

.imagen-portada{
    max-height: 410px;
    border-radius: 5px 5px 0 0;
}
.imagen-portada img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 30%;
}

.titulo{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 30px;
}

.subtitulo{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px;
    letter-spacing: 3px;
}

.campos{
    margin-top: 55px;
}

.usuario,.file{
    border-radius: 25px;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    background: #ecf0f3;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.input-usuario{
    border: none;
    text-align: center;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 13px 10px;
    border-bottom: 10px;
}

.file{
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background: #ecf0f3;
}

.form-select{
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.boton{
    display: block;
    object-fit: cover;
    margin: 15px auto;
    margin-top: 25px;
    overflow: hidden;
    padding: 10px;
    color: #fff;
    background: #9C1717;
    cursor: pointer;
    width: 20%;
    outline: none;
    border: #cbced1;
    border-radius: 18px;
    height: 50px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #707274, -2px 0px 2px 0px #707274;
}

.boton:hover{
    background: #D60303 ;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1000px;
    }
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .container {
        width: 400px;
    }
}
