<div *ngIf="botonComenzar" class="container container-t">
    <h1 class="titulo">Subir Archivos De Un Cliente</h1>
    <h5>A continuación, deberá Subir los Archivos en el Orden que Se le indiquen</h5>
    <button (click)="cambiarInputs('COMENZAR')" class="boton">Comenzar</button>
</div>

<div *ngIf="botonCedula" class="container container-t">
    <div class="row text-center">
        <div class="col-md-12 col-12" >
            <h5 class="mt-4">Digite La Cédula Del Cliente</h5>
            <div class="col-md-12 col-12">
                <div class="usuario mt-4">
                    <input [(ngModel)]="cedula" name="cedula" type="text" class="input-usuario" placeholder="Número De Cédula">
                </div>
            </div>
            <div *ngIf="tabla" class="mt-2 mb-4">
                <hr class="border-4">
                <table class="table table-hover text-center mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor Obligación</th>
                        <th scope="col">Fecha Obligación</th>
                        <th scope="col">Sede</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let o of obligacion" (click)="numeroO(o.numeroObligacion, 'CEDULA')" style="cursor: pointer;">
                        <td>{{ o.cliente.nombres }} {{ o.cliente.apellidos }}</td>
                        <td>{{ o.capital }}</td>
                        <td>{{ o.fechaObligacion | date:'short' }}</td>
                        <td>{{ o.sede.nombreSede }}</td>
                      </tr>
                    </tbody>
                  </table> 
            </div>
            <button *ngIf="!tabla" (click)="getObligacionByCedula()" class="boton">Consultar</button>
            
        </div>
    </div>
    
</div>

<div [style]="{'display': display }" class="container container-t">
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [style]="{ 'width': width+'%', 'background-color': background_color, 'display': display }">{{ width }}%</div>
      </div>
    <div class="col-md-12 col-12" >
        <h5 *ngIf="botonFactura" class="mt-4 mb-3">Seleccione La Factura</h5>
        <h5 *ngIf="botonCredito" class="mt-4 mb-3">Seleccione La Solicitud De Credito</h5>
        <h5 *ngIf="botonAutorizacion" class="mt-4 mb-3">Seleccione La Autorización</h5>
        <h5 *ngIf="datosPersonales" class="mt-4 mb-3">Seleccione El Tratamiento De Datos Personales</h5>
        <h5 *ngIf="botonCedulaCliente" class="mt-4 mb-3">Seleccione La Cédula</h5>
        <h5 *ngIf="botonPagare" class="mt-4 mb-3">Seleccione El Pagaré</h5>
        <div class="col-md-12 col-12">
            <div *ngIf="botonFactura" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'FACTURA')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
            <div *ngIf="botonCredito" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'CREDITO')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
            <div *ngIf="botonAutorizacion" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'AUTORIZACION')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
            <div *ngIf="datosPersonales" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'DATOSPERSONALES')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
            <div *ngIf="botonCedulaCliente" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'CEDULA')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
            <div *ngIf="botonPagare" class = "file">
                <div class="input-group mb-3">
                    <input (change)="obtenerFile($event, 'PAGARE')" type="file" class="form-control" accept=".pdf" max="1048576">
                  </div>
            </div>
        </div>
        <button *ngIf="botonFactura" (click)="cambiarInputs('FACTURA')" class="boton">Subir</button>
        <button *ngIf="botonCredito" (click)="cambiarInputs('CREDITO')" class="boton">Subir</button>
        <button *ngIf="botonAutorizacion" (click)="cambiarInputs('AUTORIZACION')" class="boton">Subir</button>
        <button *ngIf="datosPersonales" (click)="cambiarInputs('DATOSPERSONALES')" class="boton">Subir</button>
        <button *ngIf="botonCedulaCliente" (click)="cambiarInputs('CEDULACLIENTE')" class="boton">Subir</button>
        <button *ngIf="botonPagare" (click)="cambiarInputs('PAGARE')" class="boton">Subir</button> 
    </div>
</div>

<div class="container" *ngIf="botonGuardar">
    <div class="container-t">
        <h1 class="text-center titulo">Este Es el Resumen de Los Archivos</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle text-center mt-4 mb-4">
                        <thead>
                          <tr>
                            <th scope="col">Factura</th>
                            <th scope="col">Solicitud De Credito</th>
                            <th scope="col">Autorización</th>
                            <th scope="col">Tratamiento de Datos Personales</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Pagaré</th>
                          </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let a of nombresArchivos; let i = index">
                              <tr *ngIf="i === 0">
                                <td>{{ nombresArchivos[i] }}</td>
                                <td>{{ nombresArchivos[i+1] }}</td>
                                <td>{{ nombresArchivos[i+2] }}</td>
                                <td>{{ nombresArchivos[i+3] }}</td>
                                <td>{{ nombresArchivos[i+4] }}</td>
                                <td>{{ nombresArchivos[i+5] }}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                          
                      </table>
                </div>
            </div>
        </div>
        
        <button (click)="save()" class="boton">Guardar</button>

    </div>
    
</div>



    



