

.container{
    margin-top: 30px;
}
.card-body{
padding: 15px;
border-bottom: 20px;
}

.cardd{
    color: #fff;
    background: #960010;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #707274, -14px -9px 20px 5px #ffffff;
}

.card{
    border-radius: 20px;
    background: #dfe2e5;
    box-shadow: 10px 10px 20px #707274, -14px -9px 20px 5px #ffffff;
}
.cardx{
    height: 240px;
    border-radius: 25px;
    text-align: center;
    margin: 25px auto;
    background: #dfe2e5;
    box-shadow: 10px 10px 20px #707274, -14px -9px 20px 5px #ffffff;
}

.cardR{
    width: 300px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background: #dfe2e5;
    box-shadow: 10px 10px 20px #707274, -14px -9px 20px 5px #ffffff;
}

#circle {
    top: 0px;
    left: 0px;
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #010911;
	border-top: 8px solid #09f;
	border-radius: 80%;
	animation: rotate 8s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 


input#exportar{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} 

input#traer{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} 
