<app-navbar></app-navbar>
<app-sidebar [datosSidebar]="datos"></app-sidebar>


<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header " >
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" routerLink="ingresar" class="btn-check" name="btnradio" id="btnradio1"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="btnradio1">Ingresar</label>

                            <input type="radio" routerLink="consultar" class="btn-check" name="btnradio" id="btnradio2"
                                autocomplete="off">
                            <label class="btn btn-outline-dark" for="btnradio2">Consultar</label>

                            <input type="radio" routerLink="reportes" class="btn-check" name="btnradio" id="btnradio3"
                                autocomplete="off">
                            <label class="btn btn-outline-dark" for="btnradio3">Reportes</label>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <router-outlet></router-outlet>
                    <!-- <app-ingresar *ngIf="cambio == 1"></app-ingresar>
                    <app-consultas *ngIf="cambio == 2"></app-consultas>
                    <app-reportes *ngIf="cambio == 3"></app-reportes> -->

                </div>
            </div>
        </div>
    </div>
</div>