<nav class="sidebar">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled fw-normal pb-1 small">
                <li class="mb-3 li-sidebar" [routerLink]="'/'">
                    <span><i class="fa-solid fa-house icon-sidebar"></i></span>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <label class="text-sidebar">Inicio</label>
                        </div>
                    </div>
                </li>
                <li li class="mb-3 li-sidebar">
                    <span><i class="fa-solid fa-list-check icon-sidebar"></i></span>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <label class="text-sidebar">Gestión</label>
                        </div>
                    </div>
                </li>
                <li li class="mb-3 li-sidebar">
                    <span><i class="fa-solid fa-clipboard-list icon-sidebar"></i></span>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <label class="text-sidebar">Asignación</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>