.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: #960010;
    color: rgb(161, 161, 161);
    border: none;
}

.span-style {
    font-size: 11px;
    margin-left: -8px;
    display: block;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.margin-si {
    padding-left: 5px
}

.sidebar ul li {
    padding: 10px 10px 0px 20px;
}

.sidebar ul li {
    color: rgb(161, 161, 161);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebar ul li:hover {
    color: white;
}

.bg-red {
    background-color: #960010;
    color: white;
}

.options {
    position: fixed;
    top: 0;
    left: 70px;
    height: 100%;
    width: 200px;
    background-color: rgba(239, 239, 239, 0.979);
    color: black;
    border: none;
    border-right: 1px rgba(191, 191, 191, 0.732) solid;
}

.list-group-item {
    padding: 5px;
}

.card-header {
    background-color: rgba(207, 207, 207, 0.979);
}

.card {
    border: none;
}

.btn-disabled {
    background-color: transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 0.200rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.font {
    font-size: 14px;
}

.font-title {
    font-size: 14px;
}

.color-white {
    color: white;
}

.c-disabled {
    cursor: not-allowed;
}

.sidebar-selected {
    color: white;
}

.card-mode-disabled {
    background-color: #960010;
    color: white;
    transition: all 0.3s;
}

.card-mode-activate {
    background-color: #28a745;
    color: white;
    transition: all 0.3s;
}

.form-check-input:checked {
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.form-check-input {
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.form-check-input:focus {
    box-shadow: none;
}

.floating-card {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 70px;
    height: fit-content;
    width: 200px;
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}

.accordion-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(184, 39, 36, 0.725);
}