<div class="sidebar">
    <ul>
        <li><a href="#"><i class="fa-solid fa-house" style="margin-left: -3px;"></i></a></li>
        <span class="span-style text-center mb-3">Inicio</span>

        <li><a href="#"><i class="fa-solid fa-clipboard"></i></a></li>
        <span class="span-style text-center mb-3">Gestión</span>

        <li><a href="#"><i class="fa-solid fa-file-signature"></i></a></li>
        <span class="span-style text-center mb-3">Acuerdo</span>

        <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
        <span class="span-style text-center mb-3">Alerta</span>

        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <span class="span-style text-center mb-3">Buscar</span>
    </ul>
</div>

<div class="options">
    <div class="card">
        <div class="card-header text-center">
            Gestiones
        </div>
        <div class="card-body" style="padding: 0;">
            <a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Cuentas Por Cobrar</h6>
                </div>
            </a>
            <a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Codeudor 1</h6>
                </div>
            </a>
            <a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Codeudor 2</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Referencias</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Archivo</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Pagos</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Consignaciones</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Servicios</h6>
                </div>
            </a><a class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1">Ventas</h6>
                </div>
            </a>
        </div>
    </div>
    <!-- <h6 class="text-center mt-2">Gestiones</h6>

    <ul>
        <li><span class="span-style text-center mb-3">Cuentas Por Cobrar</span></li>
        <li><span class="span-style text-center mb-3">Codeudor 1</span></li>
        <li><span class="span-style text-center mb-3">Codeudor 2</span></li>
        <li><span class="span-style text-center mb-3">Referencias</span></li>
        <li><span class="span-style text-center mb-3">Reconocer</span></li>
        <li><span class="span-style text-center mb-3">Archivo</span></li>
        <li><span class="span-style text-center mb-3">Pagos</span></li>
        <li><span class="span-style text-center mb-3">Consignaciones</span></li>
        <li><span class="span-style text-center mb-3">Servicios</span></li>
        <li><span class="span-style text-center mb-3">Ventas</span></li>
    </ul> -->
</div>