.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: #960010;
    color: white;
    border: none;
}

.span-style {
    font-size: 12px;
    margin-left: -8px;
    display: block;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
}

.sidebar ul li {
    padding: 10px 10px 0px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #ff3030;
}

.options {
    position: fixed;
    top: 56px;
    left: 70px;
    height: 100%;
    width: 200px;
    background-color: #e0e0e0;
    color: black;
    border: none;
}

.options a {
    cursor: pointer;
}

.options a:hover {
    color: #960010;
}

.list-group-item {
    background-color: #e0e0e0;
    padding: 5px;
}

.card-header {
    background-color: #960010;
    border: none;
    color: white;
}

.card {
    border: none;
}