<div class="container-fluid">
    <div class="sidebar">
        <ul>
            <li (click)="optionSidebar()"><i class="fa-solid fa-house" style="margin-left: -3px;"></i></li>
            <span class="span-style text-center mb-3">Inicio</span>

            <li (click)="optionSidebar()"><i class="fa-solid fa-clipboard"></i></li>
            <span class="span-style text-center mb-3">Gestión</span>

            <li (click)="optionSidebar()"><i class="fa-solid fa-file-signature"></i></li>
            <span class="span-style text-center mb-3">Acuerdo</span>

            <li (click)="optionSidebar()"><i class="fa-solid fa-list-check"></i></li>
            <span class="span-style text-center mb-3">Tarea</span>

            <li (click)="optionSidebar()"><i class="fa-solid fa-bell"></i></li>
            <span class="span-style text-center mb-3">Evento</span>

            <li (click)="optionSidebar()"><i class="fa-solid fa-magnifying-glass"></i></li>
            <span class="span-style text-center mb-3">Busqueda</span>
        </ul>
    </div>

    <div class="options" id="options">
        <div class="card">
            <div class="card-header text-center align-middle" style="margin-top: -5px; padding-bottom: 10px;">
                <h6 class="fw-bold mt-3">Cuenta Por Cobrar</h6>
            </div>
            <div class="card-body" style="padding: 0;">
                <a *ngFor="let s of arraySidebar; let i = index" class="list-group-item"
                    [ngClass]="{'': !s.var , 'bg-red': s.var}" [routerLink]="s.url" (click)="changeVar(i)">
                    <div class="d-flex w-100 justify-content-center">
                        <h6 class="mb-1">{{ s.name }}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>