<div class="card b-none">
    <div class="card-body b-none">
        <div>
            <div class="row">
                <div class="col-12">
                    <h6 class="color-red text-center">Clasificación Actual</h6>
                    <div class="timeline">
                        <div class="timeline-item" *ngFor="let event of deliveryEvents">
                            <div class="timeline-icon"></div>
                            <div class="timeline-content">
                                <div class="cursor" data-bs-toggle="modal" data-bs-target="#modalHistorico">
                                    <h6>{{ event.time | date }}</h6>
                                    <h6>{{ event.status }}</h6>
                                    <h6>{{ event.description }}</h6>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>