<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
    <div class="titulo">Agregar Clientes</div>
    <div class="subtitulo">Ingresar los datos del Nuevo Cliente</div>

    <div class="row align-items-start">
        <div class="col">
            <label for="text">Nombre</label>
            <div class="usuario">
                <i class="fa-solid fa-signature"></i>
                <input type="text" class="input-usuario" placeholder="Nombre">
            </div>
        </div>

        <div class="col">
            <label for="text">Apellido</label>
            <div class="usuario">
                <i class="fa-solid fa-signature"></i>
                <input type="text" class="input-usuario" placeholder="Apellido">
            </div>
        </div>
    </div>


    <div class="row align-items-start">
        <div class="col">
            <label for="select">Seleccione su Tipo de Documento</label>
            <div class="selecionar">
                <select class="form-select">
                    <option selected>Opciones</option>
                    <option value="1">Cedula de Ciudadania</option>
                    <option value="2">Cedula de Extranjeria</option>
                </select>
            </div>
        </div>
        <div class="col">
            <label for="text">N° Documento</label>
            <div class="usuario">
                <i class="fa-solid fa-address-card"></i>
                <input type="text" class="input-pass" placeholder="Documento">
            </div>
        </div>


    </div>

    <div class="row align-items-center">
        <div class="col">
            <label for="email">Direccion</label>
            <div class="usuario">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" class="input-usuario" placeholder="Direccion">
            </div>
        </div>
        <div class="col">
            <label for="number">Telefono</label>
            <div class="usuario">
                <i class="fa-solid fa-square-phone"></i>
                <input type="number" class="input-usuario" placeholder="Telefono Celular">
            </div>
        </div>

    </div>

    <button class="btn-guardar">Guardar</button>
</div>