<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/H_electro.svg" alt="">
    </div>
    <div class="titulo">Agregar Clientes</div>
    <div class="subtitulo">Ingresar los datos del Nuevo Cliente</div>

    <div class="row align-items-start">
        <div class="row">
            <div class="col-md-6">
                <label for="text">Nombres</label>
                <div class="usuario">
                    <i class="fa-solid fa-signature"></i>
                    <input type="text" class="input-usuario" placeholder="Nombres" [(ngModel)]="cliente.nombres">
                </div>
            </div>

            <div class="col-md-6">
                <label for="text">Apellidos</label>
                <div class="usuario">
                    <i class="fa-solid fa-signature"></i>
                    <input type="text" class="input-usuario" placeholder="Apellidos" [(ngModel)]="cliente.apellidos">
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-12">
                <label for="select">Tipo de Documento</label>&nbsp;
                <i class="fa-solid fa-address-card"></i>
                <select name="tipoDocumento" id="" class="form-select" [(ngModel)]="cliente.tipoDocumento">
                    <option value="">Seleccionar</option>
                    <option value="CC">C.C</option>
                    <option value="CE">C.E</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="text">N° Documento</label>
                <div class="usuario">
                    <i class="fa-solid fa-address-card"></i>
                    <input type="number" id="numeroDocumentoMax" maxlength="10" placeholder="Documento"
                        [(ngModel)]="cliente.numeroDocumento">
                </div>
            </div>

            <div class="col-md-6">
                <label for="text">Fecha de Nacimiento</label>
                <div class="usuario">
                    <input type="date" class="input-pass" placeholder="Fecha de Nacimiento"
                        [(ngModel)]="cliente.fechaNacimiento">
                </div>
            </div>

            <div class="col-md-6">
                <label for="text">Lugar de Nacimiento</label>
                <div class="usuario">
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" class="input-pass" placeholder="Lugar de Nacimiento"
                        [(ngModel)]="cliente.lugarNacimiento">
                </div>
            </div>

            <div class="col-md-6">
                <label for="text">Fecha de Expedicion del Documento</label>
                <div class="usuario">
                    <input type="date" class="input-pass" placeholder="Fecha de Expedicion"
                        [(ngModel)]="cliente.fechaExpedicionDocumento">
                </div>
            </div>

            <div class="col-md-6">
                <label for="text">Lugar de Expedicion del Documento</label>
                <div class="usuario">
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" class="input-pass" placeholder="Lugar de Expedicion"
                        [(ngModel)]="cliente.lugarExpedicionDocumento">
                </div>

                <label for="text">Tipo de Telefono</label>
                <select class="form-select" required aria-label="select example"
                    [(ngModel)]="cliente.telefono.indicativo">
                    <option value="">Tipo de telefono</option>
                    <option value="1">Telefono Fijo</option>
                    <option value="2">Telefono Celular</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="number">Telefono De Contacto</label>
                <div class="usuario">
                    <i class="fa-solid fa-square-phone"></i>
                    <input type="number" class="input-usuario" placeholder="Telefono Fijo" maxlength="10"
                        [(ngModel)]="cliente.telefono.numero">
                </div>

                <label for="text">Indicativo de Telefono Celular</label>
                <select class="form-select" required aria-label="select example">
                    <option value="Selecionar">Selecionar</option>
                    <option value="1">+57</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email">Direccion</label>
                <div class="usuario">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <input type="text" class="input-usuario" placeholder="Direccion"
                        [(ngModel)]="cliente.direccion.direccion">
                </div>
            </div>

            <div class="col-md-6">
                <label for="usuario">Username</label>
                <div class="usuario">
                    <i class="fa-solid fa-signature"></i>
                    <input type="email" class="input-usuario" placeholder="UserName" [(ngModel)]="cliente.username">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <label for="text">Departamento</label>&nbsp;
                <i class="fa-solid fa-city"></i>
                <select (change)="listarCiudadByDep()" id="" class="form-select text-center" [(ngModel)]="idDep"
                    name="idDep">
                    <option value="0" selected>Seleccione un Departamento</option>
                    <option *ngFor="let d of department" value="{{ d.id }}">{{ d.name }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="text">Ciudad</label>&nbsp;
                <i class="fa-solid fa-building"></i>
                <select #depart name="tipoCliente" id="" class="form-select" [(ngModel)]="cliente.direccion.ciudad"
                    disabled>
                    <option value="">Seleccione una Ciudad</option>
                    <option *ngFor="let c of ciudades"> {{ c.name }} </option>
                </select>
            </div>



            <div class="col-md-6">
                <label for="text">Pais</label>&nbsp;
                <i class="fa-solid fa-earth-americas"></i>
                <select name="tipoCliente" id="" class="form-select" [(ngModel)]="cliente.direccion.pais">
                    <option value="">Seleccionar</option>
                    <option value="Colombia">Colombia</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="email">Correo</label>
                <div class="usuario">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" class="input-usuario" placeholder="Email"
                        [(ngModel)]="cliente.correoElectronico.email">
                </div>
            </div>
        </div>

    </div>

    <button class="btn-guardar" (click)="guardarClientes()">Guardar</button>
</div>