




.card-body{
padding: 15px;
}

.cardd{
    color: #fff;
    background: #960010;
    border-radius: 20px;

}


.cardx{
    height: 240px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 20px 60px 0 rgb(226, 242, 245);
}

.cardR{
    width: 300px;

    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

#circle {
    top: 0px;
    left: 0px;
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #010911;
	border-top: 8px solid #09f;
	border-radius: 80%;
	animation: rotate 8s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 


/* iconos */

#dolar{
    box-shadow: 0 0px 17px 12px rgb(255 255 255);
}


#persona{
    box-shadow: 0 0px 13px 6px rgb(131 131 131 / 68%);
}

#comision{
    box-shadow: 0 0px 11px 9px rgb(68 66 66);
}
