
.card-body{
padding: 15px;

}

.cardd{
    color: #fff;
    background: #960010;
    border-radius: 20px;

}

.card{
    border-radius: 20px;
}
.cardx{
    height: 240px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 20px 60px 0 rgb(226, 242, 245);
}

.cardR{
    width: 300px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

#circle {
    top: 0px;
    left: 0px;
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #010911;
	border-top: 8px solid #09f;
	border-radius: 80%;
	animation: rotate 8s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 


/* iconos */




input#exportar{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} 

input#traer{
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
} 
