<div class="container mt-4">
  <div class="card-c">
    <h2 class="text-center titulo">Tipos de Reportes</h2>

    <div class="row justify-content-center text-center">
      <h4>Crear Tipo de Reporte</h4>
      <div class="col-md-8">
        <input
          [(ngModel)]="tiposReportes.NOMBRE"
          name="TiposReportes"
          type="text"
          class="form-control text-center"
          placeholder="Ingrese el tipo de reporte"
        />
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-guardar" (click)="save()">
            Crear Tipo Reporte
          </button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-bordered align-middle text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tiposReportesArray; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ t.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
