.container{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    margin-top: 50px;
    border-radius: 40px;
    background: #dfe2e5;
    box-shadow: 10px 10px 20px #707274, -14px -9px 20px 5px #ffffff;
}