.card-search {
  background: #dfe2e5;
}

.imagen-portada {
  max-height: 410px;
  border-radius: 5px 5px 0 0;
}

.imagen-portada img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  border-radius: 30%;
}

.campos {
  margin-top: 55px;
}

.usuario,
.file {
  border-radius: 25px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.input-usuario {
  border: none;
  text-align: center;
  outline: none;
  background: none;
  font-size: 15px;
  margin: 13px auto;
  border-bottom: 10px;
}

.file {
  border-radius: 25px;
  text-align: center;
  width: 90%;
  margin: 10px auto;
  background: #ecf0f3;
}

.form-select {
  border-radius: 25px;
  text-align: center;
  margin: 15px auto;
  padding: 10px;
  box-shadow: inset 2px 2px 5px #6d7072, inset -10px -10px 20px #ffffff;
}

.custom-card {
  position: relative;
  border: none;
  transition: transform 0.5s ease;
  cursor: pointer;
  background-color: #f2f6fc;
  color: black;
  border: 1px solid #d8d9dc;
}

.border-none {
  border: none;
}

.custom-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body p {
  margin: 0.5rem 0;
}

.button-group button {
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger:hover {
  background-color: #e60000 !important;
  border-color: #e60000 !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.btn i {
  font-size: 1.2rem;
}

.footer .button-container {
  display: none;
}

.c:hover .footer .button-container {
  display: block;
}

.b {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  color: white;
  background-color: #960010;
  border-color: #960010;
}

.b:hover {
  background: #d40000;
  border-radius: #d40000;
  cursor: pointer;
}
