.navbar {
    width: 100%;
}

.col-nav {
    width: 97%;
    height: fit-content;
}

.col-sidebar {
    width: 3%;
    height: 100vh;
}

.icon-navbar {
    width: 25px;
    height: 25px;
    margin-right: 35px;
    cursor: pointer;
}

.modo-gestion {
    width: 15%;
    height: 100%;
    background-color: rgb(144, 144, 144);
    padding: 10px 0;
}