<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user fa-lg"
                            style="color: #960010;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa-solid fa-chart-simple fa-lg"
                            style="color: #2d4ce6;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa-solid fa-gear fa-lg" style="color: black;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>