.navFalse {
    position: fixed;
    z-index: 999;
    left: 269px;
    background-color: rgba(239, 239, 239, 0.979);
    border: none;
    border-bottom: 1px rgba(163, 163, 163, 0.732) solid;
}

.navTrue {
    position: fixed;
    left: 70px;
    background-color: rgba(239, 239, 239, 0.979);
    border: none;
    border-bottom: 1px rgba(163, 163, 163, 0.732) solid;
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .navFalse {
        width: 79.5%;
    }

    .navTrue {
        width: 95%;
    }
  }

  @media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .navFalse {
        width: 80.5%;
    }

    .navTrue {
        width: 95%;
    }
  }

  @media only screen and (min-width: 1440px) and (max-width: 1600px) {
    .navFalse {
        width: 81.5%;
    }

    .navTrue {
        width: 95%;
    }
  }

  @media only screen and (min-width: 1920px) and (max-width: 2560px) {
    .navFalse {
        width: 86%;
    }

    .navTrue {
        width: 96.5%;
    }
  }

  @media only screen and (min-width: 2560px) and (max-width: 3840px) {
    .navFalse {
        width: 89.5%;
    }

    .navTrue {
        width: 97.5%;
    }
  }