.navbar {
    width: 100%;
}

.col-nav {
    width: 97%;
    height: fit-content;
}

.col-sidebar {
    width: 3%;
    height: 100vh;
}

.icon-navbar {
    width: 25px;
    height: 25px;
    margin-right: 35px;
    cursor: pointer;
}

.modo-gestion-disabled {
    width: 15%;
    height: 100%;
    background-color: rgb(144, 144, 144);
    padding: 10px 0;
    transition: all 0.5s;
}

.modo-gestion {
    width: 15%;
    height: 100%;
    background-color: #19a865;
    padding: 10px 0;
}

.check-modo-gestion:checked {
    background-color: #0e8a50;
    box-shadow: none;
    border: none;
}

.check-modo-gestion:focus {
    box-shadow: none;
}

.input-search {
    border: none;
    border-bottom: 1px black solid;
}

.input-search:focus {
    box-shadow: none;
}

.icon-pointer {
    cursor: pointer;
}

.card-cuenta-select {
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #960010;
    bottom: 0;
    margin-bottom: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.card-cuenta-off {
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(144, 144, 144);
    bottom: 0;
    margin-bottom: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.text-white {
    color: white;
}

.text-size-10 {
    font-size: 12px;
}