<div class="container-fluid">

    <!-- OPCIONES CARDS -->
    <div class="row">
        <div class="col-md-12">
            <button [ngClass]="{ 'color-red': arrayCard.includes('Pagos'), 'btn-option': !arrayCard.includes('Pagos')}"
                class="btn btn-sm me-2" (click)="openCards('Pagos')">Pagos</button>
            <button
                [ngClass]="{ 'color-red': arrayCard.includes('Consignaciones'), 'btn-option': !arrayCard.includes('Consignaciones')}"
                class="btn btn-sm btn-option color-red" (click)="openCards('Consignaciones')">Consignaciones</button>
        </div>
    </div>

    <div class="row mt-3">

        <!-- LADO IZQUIERDO -->
        <div class="col-md-4">
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Responsables</h6>

                            <div class="input-group input-group-sm mb-3" *ngFor="let r of responsables"
                                (click)="cambiarResponsable(r.nombre)">
                                <span class="input-group-text"
                                    [ngClass]="{'span-select': responsableSelect == r.nombre, 'span-disabled': responsableSelect != r.nombre}">{{
                                    r.tipoGarante }}</span>
                                <input type="text" class="form-control input-select-control"
                                    [ngClass]="{'input-select': responsableSelect == r.nombre, 'input-disabled': responsableSelect != r.nombre}"
                                    value="{{ r.nombre }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Clasificación de cliente</h6>

                            <!-- CELULAR -->
                            <div class="card"
                                *ngIf="!(datosConfirmArray.includes('Celular-LLAMADA') && datosConfirmArray.includes('Celular-WHATSAPP') && datosConfirmArray.includes('Celular-MENSAJE'))">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Celular</span>
                                                <input type="text" class="form-control" value="3023671255" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Celular-LLAMADA')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Llamada Telefónica" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-phone-volume', 'Celular', 'LLAMADA')"><i
                                                            class="fa-solid fa-phone-volume"></i></button>
                                                    <button class="btn btn-sm btn-success rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Celular-WHATSAPP')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Mensaje Whatsapp" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-brands fa-whatsapp fa-lg', 'Celular', 'WHATSAPP')"><i
                                                            class="fa-brands fa-whatsapp fa-lg"></i></button>
                                                    <button class="btn btn-sm btn-secondary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Celular-MENSAJE')"
                                                        data-toggle="tooltip" data-placement="top" title="Mensaje Texto"
                                                        data-bs-toggle="modal" data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-comment', 'Celular', 'MENSAJE')"><i
                                                            class="fa-solid fa-comment"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- DIRECCIÓN -->
                            <div class="card" *ngIf="!datosConfirmArray.includes('Dirección-CARTA')">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Dirección</span>
                                                <input type="text" class="form-control" value="Diagonal 43 # 34-e20"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-secondary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Dirección-CARTA')"
                                                        data-toggle="tooltip" data-placement="top" title="Carta Cobro"
                                                        data-bs-toggle="modal" data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-envelope', 'Dirección', 'CARTA')"><i
                                                            class="fa-solid fa-envelope"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- CORREO -->
                            <div class="card"
                                *ngIf="!(datosConfirmArray.includes('Correo-CORREOAUT') && datosConfirmArray.includes('Correo-CORREOMAN'))">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Correo</span>
                                                <input type="text" class="form-control"
                                                    value="hernandez.gomez292020@gmail.com" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Correo-CORREOAUT')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Correo Cobro (Aut)" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-paper-plane', 'Correo', 'CORREOAUT')"><i
                                                            class="fa-solid fa-paper-plane"></i></button>
                                                    <button class="btn btn-sm btn-secondary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Correo-CORREOMAN')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Correo Cobro (Man)" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-envelopes-bulk', 'Correo', 'CORREOMAN')"><i
                                                            class="fa-solid fa-envelopes-bulk"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- REFERENCIAS -->
                            <div class="card" *ngIf="!datosConfirmArray.includes('Referencias-LLAMADA')">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Referencias</span>
                                                <input type="text" class="form-control"
                                                    value="hernandez.gomez292020@gmail.com" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-start">
                                                    <button class="btn btn-sm btn-primary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('Referencias-LLAMADA')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Llamada Telefonica" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-phone-volume', 'Referencias', 'LLAMADA')"><i
                                                            class="fa-solid fa-phone-volume"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INFORMACIÓN LABORAL -->
                            <div class="card"
                                *ngIf="!(datosConfirmArray.includes('InfoLaboral-LLAMADA') && datosConfirmArray.includes('InfoLaboral-WHATSAPP') && datosConfirmArray.includes('InfoLaboral-MENSAJE') && datosConfirmArray.includes('InfoLaboral-CARTA'))">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Ocupación</span>
                                                <input type="text" class="form-control" value="Empleado" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('InfoLaboral-LLAMADA')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Llamada Telefonica" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-phone-volume', 'InfoLaboral', 'LLAMADA')"><i
                                                            class="fa-solid fa-phone-volume"></i></button>
                                                    <button class="btn btn-sm btn-success rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('InfoLaboral-WHATSAPP')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Mensaje Whatsapp" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-brands fa-whatsapp fa-lg', 'InfoLaboral', 'WHATSAPP')"><i
                                                            class="fa-brands fa-whatsapp fa-lg"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Empresa</span>
                                                <input type="text" class="form-control" value="Gmj Hogar" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Ingresos</span>
                                                <input type="text" class="form-control" value="1300000" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-secondary rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('InfoLaboral-MENSAJE')"
                                                        data-toggle="tooltip" data-placement="top" title="Mensaje Texto"
                                                        data-bs-toggle="modal" data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-comment', 'InfoLaboral', 'MENSAJE')"><i
                                                            class="fa-solid fa-comment"></i></button>
                                                    <button class="btn btn-sm btn-warning rounded-circle"
                                                        *ngIf="!datosConfirmArray.includes('InfoLaboral-CARTA')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Carta Cobro (Empresa)" data-bs-toggle="modal"
                                                        data-bs-target="#modalConfirmNovedad"
                                                        (click)="enviarDatoToConfirm('3023671255', 'fa-solid fa-envelopes-bulk', 'InfoLaboral', 'CARTA')"><i
                                                            class="fa-solid fa-envelopes-bulk"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LADO DERECHO -->

        <div class="col-md-8">
            <!-- MORA -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Información de mora</h6>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Capital Vencido</span>
                                        <input type="number" class="form-control input-info" value="100000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Interés Mora</span>
                                        <input type="number" class="form-control input-info" value="100000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Honorarios</span>
                                        <input type="number" class="form-control input-info" value="200000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text input-info fw-bold">Otros</span>
                                        <input type="number" class="form-control input-info" value="200000" disabled>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Total Vencido</span>
                                        <input type="number" class="form-control input-info" value="1315000" disabled>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Fecha Inicio Mora</span>
                                        <input type="date" class="form-control input-info" value="dd/mm/yyyy" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Cuotas Mora</span>
                                        <input type="number" class="form-control input-info" value="5" disabled>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Nro Crédito</span>
                                        <input type="number" class="form-control input-info" value="111111111" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Valor Inicial</span>
                                        <input type="number" class="form-control input-info" value="400000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Valor Cuota</span>
                                        <input type="number" class="form-control input-info" value="200000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text input-info fw-bold">Fecha Obligación</span>
                                        <input type="date" class="form-control input-info" value="mm/dd/yyyy" disabled>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Total Cuotas</span>
                                        <input type="number" class="form-control input-info" value="20" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Fecha Ven Final</span>
                                        <input type="date" class="form-control input-info" value="mm/dd/yyyy" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Sede</span>
                                        <input type="text" class="form-control input-info" value="Electro" disabled>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Capital Obligación</span>
                                        <input type="number" class="form-control input-info" value="2000000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Interés Mora</span>
                                        <input type="number" class="form-control input-info" value="100000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Honorarios</span>
                                        <input type="number" class="form-control input-info" value="200000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text input-info fw-bold">Otros</span>
                                        <input type="number" class="form-control input-info" value="15000" disabled>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Total Obligación</span>
                                        <input type="number" class="form-control input-info" value="1350000" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Cuotas Pendientes</span>
                                        <input type="number" class="form-control input-info" value="5" disabled>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text input-info fw-bold">Fecha Ult. Cuota Ven</span>
                                        <input type="date" class="form-control input-info" value="dd/mm/yyyy" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ULTIMA CLASIFICACIÓN -->
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Última Clasificación</h6>

                            <div class="timeline">
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONSIGNACIONES -->
            <div class="row" *ngIf="arrayCard.includes('Consignaciones')">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-body p-2">
                            <h6 class="text-red mb-1">Consignaciones</h6>

                            <div class="table-responsive">
                                <table class="table table-sm table-bordered text-center compact-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Número Recibo</th>
                                            <th scope="col">Documento</th>
                                            <th scope="col">Nombre Cliente</th>
                                            <th scope="col">Fecha Pago</th>
                                            <th scope="col">Fecha Creacion</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Sede</th>
                                            <th scope="col">Banco</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>111111</td>
                                            <td>11111</td>
                                            <td>Duvan Diaz</td>
                                            <td>2024-02-02</td>
                                            <td>2024-02-04</td>
                                            <td>$ 200000</td>
                                            <td>Comprobado</td>
                                            <td>Andes</td>
                                            <td>Bancolombia - Tranferencia</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<app-modal-confirmacion-novedad [datoConfirmar]="datoConfirmObj"></app-modal-confirmacion-novedad>