<div class="container-fluid">
    <!-- OPCIONES CARDS -->
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-option me-2">Pagos</button>
            <button class="btn btn-sm btn-option">Consignaciones</button>
        </div>
    </div>

    <!-- RESPONSABLES E INFORMACIÓN DE CLIENTE -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Responsables</h6>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text span-select">Titular</span>
                                <input type="text" class="form-control input-select" value="Yeimar Fernando Sánchez"
                                    readonly>
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text span-disabled">Codeudor</span>
                                <input type="text" class="form-control input-disabled" value="Duvan Humberto Diaz"
                                    readonly>
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text span-disabled">Codeudor</span>
                                <input type="text" class="form-control input-disabled" value="Johan Andrés Hernandez"
                                    readonly>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Información de mora</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CLASIFICACIÓN DE CLIENTE Y ULTIMA CLASIFICACIÓN -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Clasificación de cliente</h6>

                            <!-- CELULAR -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Celular</span>
                                                <input type="text" class="form-control" value="3023671255" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- DIRECCIÓN -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Dirección</span>
                                                <input type="text" class="form-control" value="Diagonal 43 # 34-e20"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- CORREO -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Correo</span>
                                                <input type="text" class="form-control"
                                                    value="hernandez.gomez292020@gmail.com" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- REFERENCIAS -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Referencias</span>
                                                <input type="text" class="form-control"
                                                    value="hernandez.gomez292020@gmail.com" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INFORMACIÓN LABORAL -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Ocupación</span>
                                                <input type="text" class="form-control" value="Empleado" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Empresa</span>
                                                <input type="text" class="form-control" value="Gmj Hogar" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text span-disabled">Ingresos</span>
                                                <input type="text" class="form-control" value="1300000" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-between">
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                    <button class="btn btn-sm btn-primary rounded-circle"><i
                                                            class="fa-brands fa-whatsapp"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-body">
                            <h6 class="text-red">Última Clasificación</h6>

                            <div class="timeline">
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                                <div class="timeline-item">
                                    <div class="circle"></div>
                                    <div class="text-timeline-14">Jun 13, 2023</div>
                                    <div class="text-timeline-12">Iniciar Jurídico</div>
                                    <div class="text-timeline-12">Se inicia jurídico al cliente</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>