h1{
    text-align: center;
}

.was-validated{
    text-align: center;
    background: rgb(255, 255, 255);
    color: #000;
    width: 300px auto;
    height: 300px auto;
    position: relative;
    margin: 0px 10px 40px 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 9px 60px 0 rgb(0 0 0 / 30%);
}


.abs-center {
    margin: 35px;
    align-items: center;
    justify-content: center;
}

#contenedor1.row{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
}