
    <h1 class="titulo">Ingresar Nuevas Consignaciones</h1><br>
    <hr class="border-4">
            <div class="row align-items-center">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <div class="usuario mt-4">
                            <input [(ngModel)]="consignacion.numeroRecibo" name="numeroRecibo" type="text" class="input-usuario" placeholder="Número Del Recibo">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="usuario">
                            <input [(ngModel)]="consignacion.valor" name="valor" type="text" class="input-usuario" placeholder="Valor">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="usuario">
                            <input [(ngModel)]="consignacion.fechaPago" name="fechaPago" type="date" class="input-usuario"> 
                        </div>
                    </div>
            </div>

        <div class="row align-items-center">
            <div class="col-md-11 col-12">
                <div class="usuario">
                    <input [(ngModel)]="cedula" name="cedula" type="search" class="input-usuario" placeholder="Cédula Cliente"> 
                </div>
            </div>
            <div class="col-md-1 col-12">
                <button (click)="getObligacionByCedula()" class="btn btn-success btn-lg"><i class="fa-solid fa-magnifying-glass"></i></button>    
            </div>
            <div *ngIf="tabla" class="mt-2 mb-4">
                <hr class="border-4">
                <table class="table table-hover text-center mt-3">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor Obligación</th>
                        <th scope="col">Fecha Obligación</th>
                        <th scope="col">Sede</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let o of obligacion">
                        <th scope="row">
                            <div class="form-check">
                                <input (click)="check(o.numeroObligacion)" [checked]="consignacion.obligaciones.includes(o.numeroObligacion)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                              </div>
                        </th>
                        <td>{{ o.cliente }}</td>
                        <td>{{ o.capital }}</td>
                        <td>{{ o.saldoMora }}</td>
                        <td>{{ o.id_venta }}</td>
                      </tr>
                    </tbody>
                  </table> 
            </div>
             
        </div>

        <div class="row align-items-end">
            <div class="col-md-6 col-12">
                <div class="usuario">
                    <select [(ngModel)]="consignacion.idPlataforma" name="idPlataforma" class="form-select" required aria-label="select example">
                    <option value="0">Elija Una Plataforma</option>
                    <option *ngFor="let p of plataforma" value="{{ p.idPlataforma }}">{{ p.bancos.nombreBanco }} - {{ p.bancos.tipoPago[0].tipoPago }}</option>
                    </select>
                </div>
            </div>
            

            <div class="col-md-6 col-12" >
                <div class = "file">
                    <div class="input-group mb-3">
                        <input (change)="obtenerFile($event)" [(ngModel)]="consignacion.base64" name="base64" type="file" class="form-control" accept=".png, .jpg">
                      </div>
                </div>
            </div>
        </div>
        
    <div style="text-align: center;">
        <button (click)="guardarConsignacion()" class="guardar" type="button">Guardar Consignaciones</button>
    </div><br>
    
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿Deseas Agregar Una Observación?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <textarea [(ngModel)]="consignacion.observaciones" name="observaciones" class="form-control" placeholder="Observacion" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Observaciones</label>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="guardarConObs('NO')" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="guardarConObs('SI')">Si</button>
        </div>
      </div>
    </div>
  </div>


