
    <strong><h1 class="titulo">Ingresar Nuevas Consignaciones</h1><br></strong>
            <div class="row align-items-start">
                <div class="row align-items-end">
                    <div class="col-md-6 col-12">
                        <div class="usuario">
                            <select class="form-select" required aria-label="select example">
                            <option value="">Tipo de Documento</option>
                            <option value="1">Pasaporte extranjero</option>
                            <option value="2">Cedula de Ciudadania</option>
                            <option value="2">Pasaporte nacional</option>
                            </select>
                        </div>
                    </div>
                    
                <div class="col-md-6 col-12">
                    <div class="usuario">
                        <input type="number" class="input-usuario" placeholder="Valor">
                    </div>
                </div>
            </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="usuario">
                    <input type="search" class="input-usuario" placeholder="Digite documento "> 
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="usuario">
                    <input type="date" class="input-usuario"> 
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-md-6 col-12">
                <div class="usuario">
                    <select class="form-select" required aria-label="select example">
                    <option value="">Tipo de Consignacion</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Virtual</option>
                    <option value="3">Cheque</option>
                    </select>
                </div>
            </div>
            

            <div class="col-md-6 col-12" >
                <div class = "file">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile01">
                      </div>
                </div>
            </div>
        </div>
        
    <div style="text-align: center;">
        <button class="guardar" type="button" >Guardar Consignaciones</button>
    </div><br>


