<div class="container">
    <header>
        <h1 class="titulo">Permisos Generales</h1>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Rol</th>
                <th>Activar Rol</th>
                <th>Seleccionar Todos los Permisos</th>
            </tr>
        </thead>
        <tbody *ngFor="let r of IterarRol">
            <tr>
                <td>{{ r.rol | uppercase }}</td>

                <td>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Activar Rol</label>
                        <input (click)="activarRol(r.rol)"  class="form-check-input input" type="checkbox">
                    </div>
                </td>
                <td *ngIf="selectedRole.includes(r.rol)">
                    <input   class="form-check-input input" name="seleccionarTodos" id="option-all" type="checkbox" (click)="seleccionarAllRoles(r.rol)">
                    <label class="form-check-label"  for="option-all">Seleccionar Todos los Permisos</label>
                </td>
            </tr>

            <tr *ngIf="selectedRole.includes(r.rol)">
                <td colspan="3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check" *ngFor="let pr of r.permissions">
                                <input class="form-check-input input" type="checkbox" [checked]="selectedPermisos.includes(pr.permission)"
                                    [id]="'permiso-' + r.rol + '-' + pr.permission">
                                <label [for]="'permiso-' + r.rol + '-' + pr.permission" class="form-check-label">{{
                                    pr.permission | uppercase }}</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <button class="btn-guardar">Guardar</button>
</div>