

<div id="main-container">
    <div class="caja">
        <div class="footer-bottom"><br>
            <div class="footer-content">
                <div class="iconos">
                    <ul>
                        <li><input type="submit" class="fadeIn fourth" value="Agregar Nueva Gestión"></li>
                        <li><input type="submit" class="fadeIn fourth" id="exportar" value="Exportar archivo"></li>
                        <li><input type="submit" class="fadeIn fourth" id="traer" value="traer por ID "></li>
                    </ul>
                </div>
            </div><br>
        </div>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Deudor</th>
                <th>Estado</th>
                <th>Tipo de deuda</th>
                <th>Monto final</th>
                <th>Fecha</th>
                <th>Id</th>
            </tr>
        </thead>
        <tr>
            <td>Andres Camilo torrez</td>
            <td>Activo</td>
            <td>Credito</td>
            <td>$2.500.000</td>
            <td>31/10/2022</td>
            <td>123456789</td>
        </tr>
        <tr>
            <td>Andres Camilo torrez</td>
            <td>Activo</td>
            <td>Credito lavadora</td>
            <td>$1.800.000</td>
            <td>20/02/2023</td>
            <td>000987561</td>
        </tr>
        <tr>
            <td>Andres Camilo torrez</td>
            <td>Antivo</td>
            <td>credito lavadora</td>
            <td>$800.000</td>
            <td>20/09/2019</td>
            <td>098761371</td>
        </tr>
    </table>
</div>