.bg-red {
    background-color: #960010;
    color: white;
}

.bg-gray {
    background-color: #a7a7a7;
    color: white;
    transition: all 0.3s;
}

.bg-gray:hover {
    background-color: black;
    color: a7a7a7;
}

.bg-red:hover {
    background: #d40000;
    border-color: #d40000;
}

.bg-search {
    background-color: white;
    color: rgb(147, 147, 147);
    transition: all 0.3s;
}

.options {
    position: fixed;
    top: 0;
    left: 70px;
    height: 100%;
    width: 200px;
    background-color: rgba(239, 239, 239, 0.979);
    color: black;
    border: none;
    border-right: 1px rgba(191, 191, 191, 0.732) solid;
}

.list-group-item {
    padding: 5px;
}

.card-header {
    background-color: rgba(207, 207, 207, 0.979);
}

.card {
    border: none;
}

.btn-disabled {
    background-color: transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 0.200rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.font {
    font-size: 14px;
}

.font-title {
    font-size: 14px;
}

.color-white {
    color: white;
}

.c-disabled {
    cursor: not-allowed;
}

.sidebar-selected {
    color: white;
}

.card-mode-disabled {
    background-color: #939393eb;
    color: black;
    transition: all 0.3s;
}

.card-mode-activate {
    background-color: #28a745;
    color: white;
    transition: all 0.3s;
}

.form-check-input:checked {
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.form-check-input {
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.form-check-input:focus {
    box-shadow: none;
}

.floating-card {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 70px;
    height: fit-content;
    width: 200px;
    border: none;
}

.accordion-item {
    border-radius: 0;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.border-search {
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.form-check-input:checked {
    background-color: #960010;
    color: white;
}

.accordion-button {
    padding: 0.5rem;
    font-size: 14px;
}

.accordion-list.collapsed {
    background-color: #b6b1b2f1;
    color: black;
}

.accordion-list:not(.collapsed) {
    background-color: #c56872dd;
    color: black;
}

.accordion-filtros.collapsed {
    background-color: #b6b1b2f1;
    color: black;
}

.accordion-filtros:not(.collapsed) {
    background-color: #6897c5dd;
    color: black;
}

.accordion-columns.collapsed {
    background-color: #b6b1b2f1;
    color: black;
}

.accordion-columns:not(.collapsed) {
    background-color: #c5bc68dd;
    color: black;
}

.a-cuentas {
    background-color: #b6b1b2f1;
    padding: 0.5rem 0.5rem;
    color: black;
}

.form-check-label {
    font-size: 12px;
}