<div class="container-fluid">
    <div class="card-c">
        <h4 class="fw-bold">Crear Cuadre Diario</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input type="date" [(ngModel)]="fechaCuadre" class="form-control" placeholder="Fecha Cuadre">
                    <label>Fecha Cuadre</label>
                </div>
            </div>
            <div class="col-md-8 text-start mt-2">
                <button class="btn btn-lg btn-color" (click)="crearCuadreDiario()">Crear</button>
            </div>
        </div>

        <div *ngIf="ingresosDiario.length > 0">
            <h5>Ingresos Diarios</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo Ingreso</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of ingresosDiario">
                            <td>{{ i.fechaIngreso }}</td>
                            <td>{{ i.tipoIngreso.nombre }}</td>
                            <td>{{ i.valorIngreso }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="cuadreDiario != null">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cartera</th>
                        <th scope="col">Iniciales</th>
                        <th scope="col">Contado</th>
                        <th scope="col">Gastos</th>
                        <th scope="col">Bancolombia</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ cuadreDiario.fechaCuadre }}</td>
                        <td>{{ cuadreDiario.valorCartera }}</td>
                        <td>{{ cuadreDiario.valorIniciales }}</td>
                        <td>{{ cuadreDiario.valorContado }}</td>
                        <td>{{ cuadreDiario.valorGastos }}</td>
                        <td>{{ cuadreDiario.valorBancolombia }}</td>
                        <td>{{ cuadreDiario.valorTotalCuadre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <button class="btn btn-primary" (click)="generarPDF()">PDF</button>
</div>