.caja {
    display: flex;
    justify-content: center;
    width: 1325px;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.options {
    display: flex;
    list-style: none;
}

.option {
    margin: 0 25px;
    position: relative;
    border-radius: 50%;
}

.option a {
    position: relative;
    text-decoration: none;
    width: 100px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s;
    background: #a0a3a5;
    box-shadow: 10px 10px 20px #6c757d, -5px -3px 20px 5px #6c757d;
}

    .option a:hover {
        width: 140px;
        height: 120px;
        color: #ff0000;
        background: #fff;
        padding: 30px;
    }

    a {
        color: #811919;
        font-size: 50px;
    }
    /* .option a:hover .fas{
        padding: 50px;
    } */

.option a .fas {
    font-size: 50px;
    color: #fff;
    transition: .1s;
}

    .option a span{
        position: absolute;
        color: #fff;
        background: #000;
        font-family: 'Rubik';
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        border-radius: 5px;
        font-weight: 200;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

.option a:hover span {
    top: 100px;
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 2px 5px rgbs(0, 0, 0, .4);
}

span {
    font-size: 20px;
}

#cerrar{
    width: 3%;
    margin-left: 1250px;
    overflow: hidden;
    cursor: pointer;
}


