<div class="imagen">
    <a [routerLink]="'/login'"><i class="fa-solid fa-right-from-bracket" id="cerrar" ></i> </a>
</div>


<div class="caja">

    <ul class="options">

        <li class="option" *appRolesPerfiles="'Cartera'">
            <a [routerLink]="'/cartera'" >
                <i class="fas fa-university"></i>
                <span>Cartera</span>
            </a>
        </li>
        <li class="option" *appRolesPerfiles="'Caja'">
            <a href="#">
                <i class="fas fa-laptop"></i>
                <span>Caja</span>
            </a>
        </li>
        <li class="option" *appRolesPerfiles="'Archivos'">
            <a [routerLink]="'/Archivos'">
                <i class="fas fa-archive"></i>
                <span>Archivos</span>
            </a>
        </li>
        <li class="option" *appRolesPerfiles="'SST'">
            <a [routerLink]="'/Creditos'">
                <i class="fas fa-credit-card"></i>
                <span>Creditos</span>
            </a>
        </li>

        
        <li class="option" *appRolesPerfiles="'Ventas'">
            <a [routerLink]="'/Ventas'">
                <i class="fas fa-money-check-alt"></i>
                <span>Ventas</span>
            </a>
        </li>


        <li class="option" *appRolesPerfiles="'Servicios'">
            <a href="#">
                <i class="fas fa-phone"></i>
                <span>Servicios</span>
            </a>
        </li>
        <li class="option" *appRolesPerfiles="'Consignaciones'">
            <a [routerLink]="'/consignaciones'">
                <i class="fas fa-hand-holding-usd"></i>
                <span>Consignaciones</span>
            </a>
        </li>
        <li class="option"  *appRolesPerfiles="'Administrador'">
            <a [routerLink]="'/administracion'">
                <i class="fas fa-user-cog"></i>
                <span>Administración</span>
            </a>
        </li>
        <li class="option" *appRolesPerfiles="'SST'">
            <a [routerLink]="'/sst'">
                <i class="fas fa-heartbeat"></i>
                <span>SST</span>
            </a>
        </li>
    </ul>
</div>