<div class="caja">
    <ul class="options">
        <li class="option">
            <a href="#">
                <i class="fas fa-university"></i>
                <span>Cartera</span>
            </a>
        </li>
        <li class="option">
            <a href="#">
                <i class="fas fa-laptop"></i>
                <span>Caja</span>
            </a>
        </li>
        <li class="option">
            <a href="#">
                <i class="fas fa-archive"></i>
                <span>Archivos</span>
            </a>
        </li>
        <li class="option">
            <a href="#">
                <i class="fas fa-money-check-alt"></i>
                <span>Ventas</span>
            </a>
        </li>
        <li class="option">
            <a href="#">
                <i class="fas fa-phone"></i>
                <span>Servicios</span>
            </a>
        </li>
        <li class="option">
            <a href="#">
                <i class="fas fa-hand-holding-usd"></i>
                <span>Consignaciones</span>
            </a>
        </li>
    </ul>
</div>