.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    height: auto;
    background: #fff;
    

}

.options {
    display: flex;
    list-style: none;

}

.option {
    margin: 0 22px;
    position: relative;
    border-radius: 50%;
}

.option a {
    position: relative;
    text-decoration: none;
    width: 100px;
    height: 80px;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s;
    background: #a0a3a5;
    box-shadow: 5px 3px 8px #6c757d, -1px -1px 9px 5px #6c757d;
    animation: fadein 0.4s linear;
}

.option a:hover {
    width: 130px;
    height: 120px;
    color: #ff0000;
    background: #fff;
    padding: 20px;
    cursor: pointer;
    animation: fadein 0.4s linear;
}

.options {
    /* color: #811919; */
    font-size: 50px;
}

/* .option a:hover .fas{
        padding: 50px;
    } */

.option a .fas {
    font-size: 50px;
    color: #fff;
    transition: .1s;
}

.option a span {
    position: absolute;
    color: #fff;
    background: #000;
    font-family: 'Rubik';
    top: 10px;

    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    font-weight: 200;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.option a:hover span {
    top: 100px;
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 2px 5px rgbs(0, 0, 0, .4);
}

span {
    font-size: 20px;
}


.btnAdminGeneral{
    text-decoration: none;
    font-size: 20px;
    color: #960010;
}


#cerrar {
    width: 3%;
    margin-left: 1250px;
    overflow: hidden;
    cursor: pointer;
}

/* clases de los vinculos (colores de las rutas) */
.close {
    color: #811919;
    font-size: 50px;
}

.session {
    color: #811919;
}


/* Tablet */
@media_table (max-width:1000px) {
    .caja {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 40px;
        align-items: center;
        min-height: 550px;
        height: auto;
        background: #fff;
    }

    .options {
        display: flex;
        list-style: none;
        /* padding: 0; */
        margin: 0 0 0 200px;
    }

    .option a {
        width: 80px;
        height: 60px;
    }

    .option a:hover {
        width: 110px;
        height: 90px;
        color: #ff0000;
        background: #fff;
        padding: 30px;
    }


}


/* Movil */

@media_movil (max-width:390px) {
    .caja {
        display: flex;
        width: 100%;
        margin: 0 40px;
        align-items: center;
        min-height: 550px;
        height: auto;
        background: #fff;
    }

    .options {
        display: flex;
        list-style: none;
        margin: 0 0 0 40px;
    }
}