<div class="container-fluid">
    <div class="container">
        <div class="row" style="margin-top: 2%;">
          <div class="col-md-6 d-none d-md-block d-flex align-items-start">
            <img src="../../../assets/H_electro.svg" alt="" srcset="" width="230px" height="230px">
          </div> 
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <div>
              <a class="close" (click)="logout()">
                <i style="color: #960010;" class="fa-solid fa-right-from-bracket" id="cerrar"></i>
              </a>
            </div>
          </div>
        </div>
    </div>   

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[6].toUpperCase()">
                <div class="caja">
                    <ul class="options">
                        <li [routerLink]="'/AdminGeneral'" class="option">
                            <a class="session">
                                <i class="fa-solid fa-gears"></i>
                                <span>Administracion General</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[0]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/cartera'">
                                <i class="fas fa-university"></i>
                                <span>Cartera</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[1]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/caja'">
                                <i class="fas fa-laptop"></i>
                                <span>Caja</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="'Archivos'">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/Archivos'">
                                <i class="fas fa-archive"></i>
                                <span>Archivos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="'SST'">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/Creditos'">
                                <i class="fas fa-credit-card"></i>
                                <span>Creditos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[3]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/Ventas'">
                                <i class="fas fa-money-check-alt"></i>
                                <span>Ventas</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[4]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/servicios'">
                                <i class="fas fa-phone"></i>
                                <span>Servicios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[5]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/consignaciones'">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span>Consignaciones</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[6]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/administracion'">
                                <i class="fas fa-user-cog"></i>
                                <span>Administración</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[7]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/sst'">
                                <i class="fas fa-heartbeat"></i>
                                <span>SST</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6" *appRolesPerfiles="rolesArray[7]">
                <div class="caja">
                    <ul class="options">
                        <li class="option">
                            <a class="session" [routerLink]="'/a2-configuraciones'">
                                <i class="fas fa-solid fa-truck-field"></i>
                                <span>A2-Config</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>