.container{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    background: #dfe2e5;
    box-shadow: 5px 5px 5px #707274, -14px -9px 5px 5px #ffffff;
}

table{
    border-radius: 5px;
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .container {
        width: 400px;
    }
}